In [41]:
import pandas as pd    
import os
import re
path_note = os.getcwd()
path_src = re.sub(r'(.)notebooks','',path_note)

In [42]:
import sys
sys.path.append(os.path.abspath(f'{path_src}/'))

In [43]:
from fin_api import consulta_gcp, aplicar_regra_tipo_custo, manutencao_dados

periodo="2024-02-01"
strsql = f"SELECT * FROM dev_domestico.custo_2024_excel where dt_mes_base ='{periodo}'  "

df = consulta_gcp(strsql)

*VALIDAÇÃO ANTES DA CORREÇÃO

In [44]:
df[df["tipo_custo"]=="pessoa"]
#df[df['tipo_custo'].str.contains(r'feira-\w+|feira')==False]

Empty DataFrame
Columns: [tipo_custo, custo, valor_custo, dt_mes_base, dt_custo, process_time]
Index: []

#FUNÇÃO USADA PARA PLICAR REGRA TIPO DE CUSTO

In [45]:
df = aplicar_regra_tipo_custo(df, path_src)

Etapa INTERMEDIARIA DO PUSHOUT para classificação do tipo de custo

Total tipos_encontrados:17 / tipos_nao_encontrados:0

*VALIDAÇÃO APOS DA CORREÇÃO

In [46]:
#df[df["tipo_custo"]=="pessoa"]
df[df["tipo_custo"].isnull()]
#df[df['tipo_custo'].str.contains(r'feira-\w+|feira')==False]

Empty DataFrame
Columns: [tipo_custo, custo, valor_custo, dt_mes_base, dt_custo, process_time]
Index: []

In [47]:
manutencao_dados(df, path_src, '2024', periodo)

SAIDA / CUSTO / PUSHOUT:

Primeira etapa gerar dados controle da conta debito: Limpeza de dados da tabela: custo_2023_excel!!!

Table devsamelo2.dev_domestico.custo_2024_excel already exists.
Loaded 161 rows and 6 columns to devsamelo2.dev_domestico.custo_2024_excel