In [1]:
import pandas as pd    
import os
import re
path_note = os.getcwd()
path_src = re.sub(r'(.)notebooks','',path_note)

In [2]:
import sys
sys.path.append(os.path.abspath(f'{path_src}/'))

In [3]:
from fin_api import consulta_excel
# periodo="2024-02-01"
# strsql = f"SELECT * FROM dev_domestico.custo_2024_excel where dt_mes_base ='{periodo}'  "
mes_ano='2024_04'
df = consulta_excel(path_src, f'credito_2024_02', 'credito', mes_ano)

Etapa de conversão do type das colunas do dataframe gerada do excel:credito_2024_02.xls

TAMANHO TOTAL DF: 14

In [4]:
df

,dt_extrato_bq,descricao,valor_ext,valor_parc,dt_base
0,2024-01-24,Dm*spotify,21.90,21.90,2024-02-01
1,2024-01-10,Dl*google Google,38.99,38.99,2024-02-01
2,2024-01-12,Amazon Prime Canais,16.90,16.90,2024-02-01
3,2024-01-16,Netflix.com,68.80,68.80,2024-02-01
4,2024-01-19,Produtos Globo,54.90,54.90,2024-02-01
5,2024-01-23,Seg Cartao Protegido,14.90,14.90,2024-02-01
6,2024-01-24,Disney Plus,33.90,33.90,2024-02-01
7,2024-01-24,Amazon Prime Canais,34.90,34.90,2024-02-01
8,2024-01-28,Amazon Prime Canais,19.90,19.90,2024-02-01
9,2024-02-01,Dl*google Cloud,106.03,106.03,2024-02-01
10,2024-02-02,Amazon Aws Servicos Bra,205.91,205.91,2024-02-01
11,2024-02-05,Amazonprimebr,14.90,14.90,2024-02-01
12,2024-01-12,Scribd *589796495,29.55,29.55,2024-02-01
13,2024-01-12,IOF - transação internacional,1.28,1.28,2024-02-01

In [12]:
# df['dt_extrato_bq'] = pd.to_datetime(df['dt_extrato_bq'],format='%d/%m/%Y')

# df['dt_base'] = mes_ano.replace("_", "/")+"/01"
# df['dt_base'] = pd.to_datetime(df['dt_base'],format='%Y/%m/%d')

# df['ano'] = pd.to_datetime(df['dt_base'].iloc[0]).strftime("%Y")
# df['mes'] = pd.to_datetime(df['dt_base'].iloc[0]).strftime("%m")
# import datetime as dt
# #df_dt_base = dt.datetime(year=int(df['ano'].iloc[0]),month=int(df['mes'].iloc[0]), day=1)

In [ ]:

from myextractcred_2024 import my_extract_excel_cred, my_credits
my_cred = my_credits
my_cred(df, path_src, f'credito_{mes_ano}.xls')

In [3]:
# #['credito_2023_excel'] #['recebido_2023_excel','credito_2023_excel','custo_2023_excel','saldo_2023_excel']
# mes='2023-08-01'
# query = f'DELETE FROM dev_domestico.credito_2023_excel where dt_mes_base={mes}' #where dt_mes_base = {periodo}
# from mygcpjobfinfam import my_execute_job
# my_job = my_execute_job
# my_job(query)

QueryJob<project=devsamelo2, location=US, id=custo_domestico_b8a20613-3457-446a-bf13-c0298971d213>

In [4]:
# from myextractcred import my_extract_excel_cred
# my_fin = my_extract_excel_cred

# mes = '08'

# df = my_fin(path_src, f'credito_2023_{mes}.xls')

# from myextractcred import my_credits
# my_cred = my_credits

# my_cred(df, path_src, f'credito_2023_{mes}.xls')

Etapa de conversão do type das colunas do dataframe gerada do excel:credito_2023_08.xls

CREDITS:credito_2023_08.xls

TOTAL DE LINHAS CREDITS: 61

Etapa INTERMEDIARIA DO PUSHOUT para classificação do tipo de custo

Total tipos_encontrados:51 / tipos_nao_encontrados:0 / tipo_generico:10

Table devsamelo2.dev_domestico.credito_2023_excel already exists.
Loaded 806 rows and 7 columns to devsamelo2.dev_domestico.credito_2023_excel