In [1]:
import pandas as pd    
import os
import re
path_note = os.getcwd()
path_src = re.sub(r'(.)notebooks','',path_note)

In [2]:
import sys
sys.path.append(os.path.abspath(f'{path_src}/'))

In [3]:
from fin_api import consulta_gcp

strsql = "SELECT * FROM dev_domestico.custo_2023_excel where dt_mes_base ='2023-07-01'  "

df = consulta_gcp(strsql)

In [6]:
df["descricao"] = df["custo"]

In [7]:
from mytypedestinmoney_v1 import my_destin_pushout_csv
df = my_destin_pushout_csv(df, f'{path_src}/csv/08-11-2023-type.csv')

Etapa INTERMEDIARIA DO PUSHOUT para classificação do tipo de custo

Total tipos_encontrados:120 / tipos_nao_encontrados:0

In [8]:
df

,tipo_custo,custo,valor_custo,dt_mes_base,dt_custo,process_time,descricao
0,alimentacao,PIX TRANSF Matheus01/07,45.00,2023-07-01,2023-07-03,2023-09-06 15:28:12.598025+00:00,PIX TRANSF Matheus01/07
1,sabesp,SABESP 3082129325,351.81,2023-07-01,2023-07-03,2023-09-06 15:28:12.598025+00:00,SABESP 3082129325
2,futebol,PIX TRANSF NIRLEY 02/07,25.00,2023-07-01,2023-07-03,2023-09-06 15:28:12.598025+00:00,PIX TRANSF NIRLEY 02/07
3,comercio,ELECTRONBOX CAR,60.00,2023-07-01,2023-07-03,2023-09-06 15:28:12.598025+00:00,ELECTRONBOX CAR
4,lazer,ELECTRONMATRIZ,250.00,2023-07-01,2023-07-03,2023-09-06 15:28:12.598025+00:00,ELECTRONMATRIZ
...,...,...,...,...,...,...,...
115,pessoa,ELECTRONVALDENICIO,3.00,2023-07-01,2023-07-31,2023-09-06 15:28:12.598025+00:00,ELECTRONVALDENICIO
116,feira-frutas,ELECTRONPAG*OrielPe,20.00,2023-07-01,2023-07-31,2023-09-06 15:28:12.598025+00:00,ELECTRONPAG*OrielPe
117,pessoa,ELECTRONPAG*Alexand,4.00,2023-07-01,2023-07-31,2023-09-06 15:28:12.598025+00:00,ELECTRONPAG*Alexand
118,feira-pano,ELECTRONPAG*Antonie,4.00,2023-07-01,2023-07-31,2023-09-06 15:28:12.598025+00:00,ELECTRONPAG*Antonie
119,feira-alho,ELECTRONPAG*Rosilen,9.00,2023-07-01,2023-07-31,2023-09-06 15:28:12.598025+00:00,ELECTRONPAG*Rosilen

In [ ]:
from mygcptablefinfam import insert_df_pushout

print(f"SAIDA / CUSTO / PUSHOUT:", "\n")
insert_df_pushout(df, f'{path_src}/json/pushout.json','devsamelo2.dev_domestico.custo_2023_excel')

In [9]:
df_null = df[df['tipo_custo'].isnull()]

#df[df['tipo_custo'].isnull()].groupby(['valor_custo']).agg(['count'])
#df[df['tipo_custo'].str.contains(r'feira-\w+|feira')==True].groupby('dt_mes_base')['valor_custo'].sum()
df_null['valor_custo'].sum()

0.0

In [10]:
import csv
#df_null[df_null["valor_custo"]<50].sum()
df_null[df_null["valor_custo"]<=50] #['valor_custo'].sum() #.to_csv('depara.csv',quoting=csv.QUOTE_ALL)

Empty DataFrame
Columns: [tipo_custo, custo, valor_custo, dt_mes_base, dt_custo, process_time, descricao]
Index: []

In [ ]:
df_type = pd.read_csv(f'{path_src}/csv/type.csv', sep=';', usecols=['de_para','valor'])
df_type = df_type[(df_type["valor"].notnull())].drop_duplicates()#.unique() | .notnull() | .isnull()
df_type_raw = df_type.loc[df_type['de_para'].str.contains(r'^PIX TRANSF[^\\b]+.+[\\/]07')==True].copy()#.str.contains(r'SALDO[^\\b]+\w')==False].copy()
df_type_raw

In [ ]:
df_type_raw[df_type_raw['valor']=="igreja"].groupby(['valor']).agg(['count'])
df_analytics = df_type_raw['valor'].loc[df_type_raw['valor']=="igreja"]
tottal=df_analytics.count()

tottal

In [ ]:
df = df.loc[df['descricao'].str.contains(r'.IMW[^\\b]+\w')==True].copy()#.str.contains(r'SALDO[^\\b]+\w')==False].copy()

In [ ]:
for index_cc, row_cc in df.iterrows():
    for index_dp, row_dp in df_type_raw.iterrows():
        print(row_cc["descricao"])
        print(row_dp["de_para"])
        if row_cc["descricao"] == row_dp["de_para"]:
            print ("primeira verificação de de-para custo:"," / posicao:",index_dp, row_dp['de_para'], '=', row_cc["descricao"]," / posicao:",index_cc)

In [ ]:
# #dfpus['tipo_custo'] = dfpus.apply(lambda x: x['tipo_custo']="compras" if x['tipo_custo']==None else x['tipo_custo']=x['tipo_custo'],  axis=1)
# for x in range(len(dfpus)):
#     if dfpus["tipo_custo"].iloc[x]=="pessoa":
#         dfpus["tipo_custo"].iloc[x]="compras"

In [ ]:

# list_tab = [str(l) for l in dfpus['tipo_custo'].tolist()]
# list_tab