In [110]:
import pandas as pd   
import pandas_gbq as pgbq 
import datetime as dt
from datetime import timedelta, date
import os
import re
import sys
path_note = os.getcwd()
path_src = re.sub(r'(.)notebooks','',path_note)
path_src_resource = re.sub(r'(.)notebooks','\/resource',path_note)

In [111]:
# PS C:\Users\andre\Documents\github> cd .\my-money-family\                                                                                                                                 
# PS C:\Users\andre\Documents\github\my-money-family> .\env\Scripts\activate                                                                                                                
# (env) PS C:\Users\andre\Documents\github\my-money-family> cd .\admin\src\                                                                                                                 
# (env) PS C:\Users\andre\Documents\github\my-money-family\admin\src> python .\main_2024.py 'debito' '2024_06' '2024-06-01'

In [112]:
print(path_src)
print(path_src_resource)

c:\Users\andre\Documents\github\my-money-family\admin\src
c:\Users\andre\Documents\github\my-money-family\admin\src\/resource

In [113]:
import sys
sys.path.append(os.path.abspath(f'{path_src}/'))
sys.path.append(os.path.abspath(f'{path_src_resource}/'))

In [114]:
sys.path

['c:\\Users\\andre\\Documents\\github\\my-money-family\\admin\\src\\notebooks',
 'C:\\Program Files\\WindowsApps\\PythonSoftwareFoundation.Python.3.11_3.11.2544.0_x64__qbz5n2kfra8p0\\python311.zip',
 'C:\\Program Files\\WindowsApps\\PythonSoftwareFoundation.Python.3.11_3.11.2544.0_x64__qbz5n2kfra8p0\\DLLs',
 'C:\\Program Files\\WindowsApps\\PythonSoftwareFoundation.Python.3.11_3.11.2544.0_x64__qbz5n2kfra8p0\\Lib',
 'C:\\Program Files\\WindowsApps\\PythonSoftwareFoundation.Python.3.11_3.11.2544.0_x64__qbz5n2kfra8p0',
 'c:\\Users\\andre\\Documents\\github\\my-money-family\\env',
 '',
 'c:\\Users\\andre\\Documents\\github\\my-money-family\\env\\Lib\\site-packages',
 'c:\\Users\\andre\\Documents\\github\\my-money-family\\env\\Lib\\site-packages\\win32',
 'c:\\Users\\andre\\Documents\\github\\my-money-family\\env\\Lib\\site-packages\\win32\\lib',
 'c:\\Users\\andre\\Documents\\github\\my-money-family\\env\\Lib\\site-packages\\Pythonwin',
 'c:\\Users\\andre\\Documents\\github\\my-money-family\\admin\\src',
 'c:\\Users\\andre\\Documents\\github\\my-money-family\\admin\\src\\resource',
 'c:\\Users\\andre\\Documents\\github\\my-money-family\\admin\\src',
 'c:\\Users\\andre\\Documents\\github\\my-money-family\\admin\\src\\resource',
 'c:\\Users\\andre\\Documents\\github\\my-money-family\\admin\\src',
 'c:\\Users\\andre\\Documents\\github\\my-money-family\\admin\\src\\resource',
 'c:\\Users\\andre\\Documents\\github\\my-money-family\\admin\\src',
 'c:\\Users\\andre\\Documents\\github\\my-money-family\\admin\\src\\resource']

In [115]:
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 100)
pd.set_option('display.width', 1000)

In [116]:
# from fin_api import consulta_excel
# df = consulta_excel(path_src, 'custo_2024_01')
# df

In [117]:
from resource.fin_api import consulta_gcp
periodo="2024-01-01"
strsql = f"SELECT * FROM dev_domestico.custo_2024_excel where dt_mes_base >='{periodo}'  "

df = consulta_gcp(strsql)

CONCAT FAKE COM REAL

In [118]:
from resource.fin_api import fake

tipo_custo=['ajuda','banco','celular','net','emprestimo','financiamento', 'cartao']
custo=['DEB AUTOR UNICEF','SEGURO CARTAO','DA  CLARO MOVEL 66459258','DA  NET SERVICOS 5680788','PIX ELIZABTEH','FINANC IMOBILIARIO   029','CART ITAU']
valor_custo=[85.00, 8.18, 149.90, 294.40, 1400, 2781.33, 883 ]
dt='2024-08-01'
df_fake = fake(None, dt,tipo_custo, custo, valor_custo)

# 13/09/2024	DEB AUTOR UNICEF		        -85,00
# 16/09/2024	DA  CLARO MOVEL     66459258	-149,90
# 17/09/2024	DA  ELETROPAULO     11701161	-110,77
# 20/09/2024	DA  NET SERVICOS    5680788		-236,51
# 23/09/2024	FINANC IMOBILIARIO  030		    -2.777,21

2024-09-23 19:49:23.729544

In [119]:
df_fake

      tipo_custo                     custo  valor_custo dt_mes_base    dt_custo               process_time
0          ajuda          DEB AUTOR UNICEF        85.00  2024-08-01  2024-08-02 2024-09-23 19:49:23.729544
1          banco             SEGURO CARTAO         8.18  2024-08-01  2024-08-03 2024-09-23 19:49:23.729544
2        celular  DA  CLARO MOVEL 66459258       149.90  2024-08-01  2024-08-04 2024-09-23 19:49:23.729544
3            net  DA  NET SERVICOS 5680788       294.40  2024-08-01  2024-08-05 2024-09-23 19:49:23.729544
4     emprestimo             PIX ELIZABTEH      1400.00  2024-08-01  2024-08-06 2024-09-23 19:49:23.729544
5  financiamento  FINANC IMOBILIARIO   029      2781.33  2024-08-01  2024-08-07 2024-09-23 19:49:23.729544
6         cartao                 CART ITAU       883.00  2024-08-01  2024-08-08 2024-09-23 19:49:23.729544

In [120]:

def criar_calendario(df):
    import datetime as dt
    df['week_br'] = pd.to_datetime(df["dt_custo"]).dt.day_name()
    df['week_br'] = df.apply(lambda x: "segunda-feira" if x["week_br"]=="Monday" else 
                                ("terça-feira" if x["week_br"]=="Tuesday" else 
                                ("quarta-feira" if x["week_br"]=="Wednesday" else 
                                ("quinta-feira" if x["week_br"]=="Thursday" else 
                                ("sexta-feira" if x["week_br"]=="Friday" else 
                                ("sabado" if x["week_br"]=="Saturday" else "domingo"))))), axis=1)

    return df
# Monday (segunda-feira)
# Tuesday (terça-feira)
# Wednesday (quarta-feira)
# Thursday (quinta-feira)
# Friday (sexta-feira)
# Saturday (sábado)
# Sunday (domingo)

#df[df['tipo_custo'].str.contains(r'feira-\w+|feira')==True].groupby('dt_mes_base')['valor_custo'].sum()
#df[["dt_mes_base","tipo_custo","valor_custo"]][((pd.to_datetime(df['dt_custo'])>='2024-01-16'))&((pd.to_datetime(df['dt_custo'])<='2024-01-31'))&(df["tipo_custo"].isin(["emprestimo","financiamento"]))].groupby(['dt_mes_base','tipo_custo']).agg(['sum'])

In [121]:
def construcao_tipo_custo(df):
    df["tipo_custo_alt"]=df.apply(lambda x: ''.join(re.findall('^\w+',x["tipo_custo"])), axis=1)
  
    lista_tp=['igreja','futebol','claro','banco','boleto','escola_futebol','luz','financiamento','gas','net','ajuda','emprestimo','ipva','sabesp','saque','porto_seguro','cartao','dora','Taxa_banco','carro','poupanca','transporte_pub','recargapay','juros','cea']

    list_tp_alto=['financiamento','emprestimo','boleto','cartao','juros','banco','Taxa_banco','saque']
    list_tp_medio=['luz','gas','net','sabesp','claro']
    list_tp_medio_n1=['alimentacao','feira','mercado','padaria','transporte_pub','recargapay','cea','ifood','cabelereiro','farmacia','roupa','ajuda','pernambucanas','dora']
    list_tp_invest=['picpay','inter','nubank','pagbank']# remover poupanca
    list_tp_imprevisto=['pedreiro','consertotv','refil','flores','cartorio','shopmetro','lojaesportes','utensilios','app']
    list_tp_lazer=['brinquedo-praia','lazer','casamento','cinema','brinquedo','passeio','futebol','escola_futebol','churrasco-pessoal']
    list_tp_comercio=['pessoa','loja','cosmeticos','comercio','BAZAR','kalung','americanas']
    list_tp_carro=['porto_seguro','multa','uber','estacionamento','carro','pedagio','ipva','gasolina','mecanico','locadora','material_construcao_banheiro','celular','eletrolux']
    list_tp_igreja=['igreja']


    df["classificacao_custo"] = df.apply(lambda x: 'fixo' if [tp for tp in lista_tp if tp==x["tipo_custo_alt"]] else 'variado', axis=1)

    df["area_custo"] = df.apply(lambda x: 'alto' if [tp for tp in list_tp_alto if tp==x["tipo_custo_alt"] ] else 
                                ('medio' if [tp for tp in list_tp_medio if tp==x["tipo_custo_alt"]] else 
                                ('medio_n1' if [tp for tp in list_tp_medio_n1 if tp==x["tipo_custo_alt"]] else 
                                    ('invet' if [tp for tp in list_tp_invest if tp==x["tipo_custo_alt"]] else
                                        ('imprevisto' if [tp for tp in list_tp_imprevisto if tp==x["tipo_custo_alt"]] else 
                                        ('lazer' if [tp for tp in list_tp_lazer if tp==x["tipo_custo_alt"]] else 
                                            ('comercio' if [tp for tp in list_tp_comercio if tp==x["tipo_custo_alt"]] else
                                            ('carro' if [tp for tp in list_tp_carro if tp==x["tipo_custo_alt"]]  else 
                                                ('igreja' if [tp for tp in list_tp_igreja if tp==x["tipo_custo_alt"]]  else 
                                                ('poupanca' if x["tipo_custo_alt"]=='poupanca' else 'baixo'
                                    ))))))))), axis=1)

    return df

In [122]:
df[(df["tipo_custo"].isnull())][['custo','valor_custo','dt_custo']]#.to_csv('custo_nulo.csv')
# df[(df["tipo_custo"].str.contains(r'feira-\w+|feira')==True)].sort_values(by=['dt_custo'])
#list_custo = df[(df["tipo_custo"].isnull())].apply(lambda x: x['custo'], axis=1).tolist()

Empty DataFrame
Columns: [custo, valor_custo, dt_custo]
Index: []

In [123]:
df=criar_calendario(df)

In [124]:
df=construcao_tipo_custo(df)

In [125]:
df_tp=df[["tipo_custo_alt"]].drop_duplicates()
#df.groupby(['tipo_custo']).agg({'tipo_custo':'count'}).copy()
contagem_valores = df["tipo_custo_alt"].value_counts()
list_tp=contagem_valores.index.tolist()
# df_fake = df.loc[df['tipo_custo'].isin(list_tp)].copy()
df_tp[~df_tp['tipo_custo_alt'].isin(['financiamento','emprestimo','boleto','cartao','juros','banco','Taxa_banco','saque',
                                    '#','luz','gas','net','sabesp','claro',
                                    '#','alimentacao','feira','mercado','padaria','transporte_pub','recargapay','cea','ifood','cabelereiro','cabeleireiro','farmacia','roupa','igreja','ajuda','pernambucanas','dora',
                                    '#','poupanca','picpay','inter','nubank','pagbank','nomad',
                                    '#','pedreiro','consertotv','refil','flores','cartorio','shopmetro','lojaesportes','utensilios','app',
                                    '#','brinquedo-praia','lazer','casamento','cinema','brinquedo','passeio','futebol','escola_futebol','churrasco-pessoal',
                                    '#','pessoa','loja','cosmeticos','comercio','BAZAR','kalung','americanas','presente','pessoal','rafael',
                                    '#','porto_seguro','multa','uber','estacionamento','carro','pedagio','ipva','gasolina','mecanico','locadora','material_construcao_banheiro','celular','eletrolux'])]

Empty DataFrame
Columns: [tipo_custo_alt]
Index: []

In [126]:
# tratar gasto pessoal
df['tipo_custo_alt'] = df.apply(lambda x: 'churrasco-pessoal' if x["custo"].find("ELECTRONATACADAO 06")>=0 and
                                                                  x["dt_mes_base"].strftime('%Y-%m-%d')=='2024-09-01' and
                                                                   x["dt_custo"].strftime('%Y-%m-%d')=='2024-09-02' and
                                                                   x["valor_custo"]==468.25  else x['tipo_custo_alt'], axis=1)

df['tipo_custo'] = df.apply(lambda x: 'churrasco-pessoal' if x["custo"].find("ELECTRONATACADAO 06")>=0 and
                                                                  x["dt_mes_base"].strftime('%Y-%m-%d')=='2024-09-01' and
                                                                   x["dt_custo"].strftime('%Y-%m-%d')=='2024-09-02' and
                                                                   x["valor_custo"]==468.25  else x['tipo_custo'], axis=1)

In [127]:
# df['tipo_custo'] = df.apply(lambda x: 'cabeleireiro' if x["tipo_custo"].find("cabelereiro")>=0 else x['tipo_custo'],axis=1 )

In [128]:
# df[ (df['tipo_custo_alt'])=='cabelereiro']
   #& (pd.to_datetime(df['dt_custo'])=='2024-09-02') & (df['valor_custo']==468.25) &(df['custo']=='ELECTRONATACADAO 06')]

CRIAR DATAFRAME - TOTAL FIXO POR MES

In [129]:
def analytics_percent(df):

    list_tp=df.loc[(df['classificacao_custo']=='fixo')&(df['tipo_custo_alt']!='poupanca')][["tipo_custo_alt"]].drop_duplicates().values.tolist()
    arr_tp_ext=[]
    for idx, rw in enumerate(list_tp):
        #print(rw)
        valor_sum_anual = df[["valor_custo"]][ (df['classificacao_custo']=='fixo') & (df['tipo_custo_alt']==rw[0])].sum().values.tolist() #.sort_values("valor_custo", ascending=False)
        valor_med_anual =  float(valor_sum_anual[0]/6)
        valor_jan   = df[["valor_custo"]][ (df['classificacao_custo']=='fixo') & (df['tipo_custo_alt']==rw[0])&(pd.to_datetime(df['dt_mes_base'])=='2024-01-01')].sum().values.tolist() #.sort_values("valor_custo", ascending=False)
        valor_fev   = df[["valor_custo"]][ (df['classificacao_custo']=='fixo') & (df['tipo_custo_alt']==rw[0])&(pd.to_datetime(df['dt_mes_base'])=='2024-02-01')].sum().values.tolist() #.sort_values("valor_custo", ascending=False)
        valor_mar   = df[["valor_custo"]][ (df['classificacao_custo']=='fixo') & (df['tipo_custo_alt']==rw[0])&(pd.to_datetime(df['dt_mes_base'])=='2024-03-01')].sum().values.tolist() #.sort_values("valor_custo", ascending=False)
        valor_abr   = df[["valor_custo"]][ (df['classificacao_custo']=='fixo') & (df['tipo_custo_alt']==rw[0])&(pd.to_datetime(df['dt_mes_base'])=='2024-04-01')].sum().values.tolist() #.sort_values("valor_custo", ascending=False)
        valor_mai   = df[["valor_custo"]][ (df['classificacao_custo']=='fixo') & (df['tipo_custo_alt']==rw[0])&(pd.to_datetime(df['dt_mes_base'])=='2024-05-01')].sum().values.tolist() #.sort_values("valor_custo", ascending=False)
        valor_jun   = df[["valor_custo"]][ (df['classificacao_custo']=='fixo') & (df['tipo_custo_alt']==rw[0])&(pd.to_datetime(df['dt_mes_base'])=='2024-06-01')].sum().values.tolist() #.sort_values("valor_custo", ascending=False)
        valor_jul   = df[["valor_custo"]][ (df['classificacao_custo']=='fixo') & (df['tipo_custo_alt']==rw[0])&(pd.to_datetime(df['dt_mes_base'])=='2024-07-01')].sum().values.tolist() #.sort_values("valor_custo", ascending=False)
        valor_ago   = df[["valor_custo"]][ (df['classificacao_custo']=='fixo') & (df['tipo_custo_alt']==rw[0])&(pd.to_datetime(df['dt_mes_base'])=='2024-08-01')].sum().values.tolist() #.sort_values("valor_custo", ascending=False)
        valor_set   = df[["valor_custo"]][ (df['classificacao_custo']=='fixo') & (df['tipo_custo_alt']==rw[0])&(pd.to_datetime(df['dt_mes_base'])=='2024-09-01')].sum().values.tolist() #.sort_values("valor_custo", ascending=False)

        # df_anual_jan = df[["tipo_custo_alt","valor_custo"]][ (df['classificacao_custo']=='fixo')&(pd.to_datetime(df['dt_mes_base'])=='2024-01-01')].groupby(['tipo_custo_alt'])\
        #     .agg(jan=('valor_custo','sum')) #.sort_values("valor_custo", ascending=False)

        # df_anual_fev = df[["tipo_custo_alt","valor_custo"]][ (df['classificacao_custo']=='fixo')&(pd.to_datetime(df['dt_mes_base'])=='2024-02-01')].groupby(['tipo_custo_alt'])\
        #     .agg(jan=('valor_custo','sum')) #.sort_values("valor_custo", ascending=False)
        
        # df_tp=pd.merge(df_anual, df_anual_jan, df_anual_fev, how="left", on=["tipo_custo_alt"])
        ar=[rw[0],valor_sum_anual[0],valor_med_anual,valor_jan[0],valor_fev[0],valor_mar[0],valor_abr[0],valor_mai[0],valor_jun[0],valor_jul[0],valor_ago[0],valor_set[0]]
        arr_tp_ext.append(ar)
    return arr_tp_ext

In [130]:
arr_tp_ext=analytics_percent(df)

In [131]:

df_tp = pd.DataFrame(arr_tp_ext, columns=['tipo','vlr_sum','vlr_med','vlr_jan','vlr_fev','vlr_mar','vlr_abr','vlr_mai','vlr_jun','vlr_jul','vlr_ago','valor_set'])

In [132]:
df_tp.sort_values("vlr_sum", ascending=False)

              tipo   vlr_sum      vlr_med  vlr_jan  vlr_fev  vlr_mar  vlr_abr  vlr_mai  vlr_jun  vlr_jul  vlr_ago  valor_set
16   financiamento  25142.33  4190.388333  2808.59  2806.62  2802.42  2797.89  2793.61  2789.42  2785.24  2781.33    2777.21
11      emprestimo  10500.00  1750.000000  1400.00     0.00  2800.00  1400.00  1400.00  1400.00   700.00  1400.00       0.00
12          cartao   7042.06  1173.676667   635.00   662.76     0.00  1113.10  1394.22   866.55   874.61   883.34     612.48
3           boleto   6560.53  1093.421667   687.15  1063.33   687.15   687.15   687.15   687.15   687.15   687.15     687.15
0           igreja   4430.96   738.493333   924.49   154.00   248.00   284.00   635.54  1240.93   336.00   160.00     448.00
17             gas   2892.48   482.080000   246.96   206.42   218.33   252.14   285.81   455.28   396.55   420.73     410.26
6              cea   2518.66   419.776667   187.25   187.25   187.25   348.91   364.28   348.91   348.91   361.91     183.99
8   transporte_pub   2351.00   391.833333   350.00   150.00   150.00   300.00   250.00   220.00   300.00   320.00     311.00
2           sabesp   2344.82   390.803333   325.72   185.02   241.30   193.57   162.43   353.86   306.57   348.41     227.94
15             net   2150.24   358.373333   255.49   225.59   225.59   224.97   225.59   225.59   236.51   294.40     236.51
5            claro   1842.38   307.063333   204.00   204.00   204.00   204.00   204.00   204.00   204.00   207.19     207.19
19  escola_futebol   1717.73   286.288333     0.00   155.00   137.00   380.00   130.00   130.00   300.00   285.73     200.00
14            ipva   1275.15   212.525000   255.03   255.03   255.03   255.03   255.03     0.00     0.00     0.00       0.00
18             luz   1108.43   184.738333   132.72   135.75   140.97   126.32   127.05   126.41   108.81    99.63     110.77
10           ajuda    915.00   152.500000    85.00    85.00    85.00    85.00    85.00   235.00    85.00    85.00      85.00
4            banco    898.05   149.675000    96.79    96.79   100.39   100.68   100.68   100.68   100.68   100.68     100.68
9          futebol    830.00   138.333333   180.00   204.00    50.00   117.00    73.00    56.00    50.00    50.00      50.00
7     porto_seguro    826.49   137.748333   341.74   166.95     0.00   183.44     0.00     0.00   134.36     0.00       0.00
13            dora    750.00   125.000000   150.00     0.00   200.00   100.00     0.00   100.00     0.00   100.00     100.00
1            saque    220.00    36.666667   100.00    90.00     0.00    20.00    10.00     0.00     0.00     0.00       0.00
23           juros    166.55    27.758333     0.00     0.00     0.00     0.00    85.55    37.84     0.00     0.00      43.16
21      Taxa_banco     65.21    10.868333     0.00     0.00     0.00    13.99    15.76    19.78     0.29     5.34      10.05
22      recargapay     50.00     8.333333     0.00     0.00     0.00     0.00    50.00     0.00     0.00     0.00       0.00
20           carro     20.00     3.333333     0.00    20.00     0.00     0.00     0.00     0.00     0.00     0.00       0.00

In [133]:
df[(df['classificacao_custo']=='fixo')&(df['tipo_custo_alt']!='poupanca')][["dt_mes_base","valor_custo"]].groupby(['dt_mes_base']).agg({"valor_custo":sum}).sort_values("valor_custo", ascending=False)

             valor_custo
dt_mes_base
2024-06-01       9597.40
2024-01-01       9365.93
2024-05-01       9334.70
2024-04-01       9187.19
2024-03-01       8732.43
2024-08-01       8590.84
2024-07-01       7954.68
2024-02-01       7053.51
2024-09-01       6801.39

CRIAR DATAFRAME - TOTAL VARIADO POR MES

In [134]:
def analytics_variado_percent(df):

    list_tp=df.loc[df['classificacao_custo']=='variado'][["tipo_custo_alt"]].drop_duplicates().values.tolist()
    arr_tp_ext=[]
    for idx, rw in enumerate(list_tp):
        #print(rw)
        valor_sum_anual = df[["valor_custo"]][ (df['classificacao_custo']=='variado') & (df['tipo_custo_alt']==rw[0])].sum().values.tolist() #.sort_values("valor_custo", ascending=False)
        valor_med_anual =  float(valor_sum_anual[0]/6)
        valor_jan = df[["valor_custo"]][ (df['classificacao_custo']=='variado') & (df['tipo_custo_alt']==rw[0])&(pd.to_datetime(df['dt_mes_base'])=='2024-01-01')].sum().values.tolist() #.sort_values("valor_custo", ascending=False)
        valor_fev = df[["valor_custo"]][ (df['classificacao_custo']=='variado') & (df['tipo_custo_alt']==rw[0])&(pd.to_datetime(df['dt_mes_base'])=='2024-02-01')].sum().values.tolist() #.sort_values("valor_custo", ascending=False)
        valor_mar = df[["valor_custo"]][ (df['classificacao_custo']=='variado') & (df['tipo_custo_alt']==rw[0])&(pd.to_datetime(df['dt_mes_base'])=='2024-03-01')].sum().values.tolist() #.sort_values("valor_custo", ascending=False)
        valor_abr = df[["valor_custo"]][ (df['classificacao_custo']=='variado') & (df['tipo_custo_alt']==rw[0])&(pd.to_datetime(df['dt_mes_base'])=='2024-04-01')].sum().values.tolist() #.sort_values("valor_custo", ascending=False)
        valor_mai = df[["valor_custo"]][ (df['classificacao_custo']=='variado') & (df['tipo_custo_alt']==rw[0])&(pd.to_datetime(df['dt_mes_base'])=='2024-05-01')].sum().values.tolist() #.sort_values("valor_custo", ascending=False)
        valor_jun = df[["valor_custo"]][ (df['classificacao_custo']=='variado') & (df['tipo_custo_alt']==rw[0])&(pd.to_datetime(df['dt_mes_base'])=='2024-06-01')].sum().values.tolist() #.sort_values("valor_custo", ascending=False)
        valor_jul = df[["valor_custo"]][ (df['classificacao_custo']=='variado') & (df['tipo_custo_alt']==rw[0])&(pd.to_datetime(df['dt_mes_base'])=='2024-07-01')].sum().values.tolist() #.sort_values("valor_custo", ascending=False)
        valor_ago = df[["valor_custo"]][ (df['classificacao_custo']=='variado') & (df['tipo_custo_alt']==rw[0])&(pd.to_datetime(df['dt_mes_base'])=='2024-08-01')].sum().values.tolist() #.sort_values("valor_custo", ascending=False)
        valor_set = df[["valor_custo"]][ (df['classificacao_custo']=='variado') & (df['tipo_custo_alt']==rw[0])&(pd.to_datetime(df['dt_mes_base'])=='2024-09-01')].sum().values.tolist() #.sort_values("valor_custo", ascending=False)

        # df_anual_jan = df[["tipo_custo_alt","valor_custo"]][ (df['classificacao_custo']=='fixo')&(pd.to_datetime(df['dt_mes_base'])=='2024-01-01')].groupby(['tipo_custo_alt'])\
        #     .agg(jan=('valor_custo','sum')) #.sort_values("valor_custo", ascending=False)

        # df_anual_fev = df[["tipo_custo_alt","valor_custo"]][ (df['classificacao_custo']=='fixo')&(pd.to_datetime(df['dt_mes_base'])=='2024-02-01')].groupby(['tipo_custo_alt'])\
        #     .agg(jan=('valor_custo','sum')) #.sort_values("valor_custo", ascending=False)
        
        # df_tp=pd.merge(df_anual, df_anual_jan, df_anual_fev, how="left", on=["tipo_custo_alt"])
        ar=[rw[0],valor_sum_anual[0], valor_med_anual,valor_jan[0],valor_fev[0],valor_mar[0],valor_abr[0],valor_mai[0],valor_jun[0],valor_jul[0],valor_ago[0],valor_set[0]]
        arr_tp_ext.append(ar)
    return arr_tp_ext

In [135]:
arr_tp_ext=analytics_variado_percent(df)
df_tp_var = pd.DataFrame(arr_tp_ext, columns=['tipo','vlr_sum','vlr_med','vlr_jan','vlr_fev','vlr_mar','vlr_abr','vlr_mai','vlr_jun','vlr_jul','vlr_ago','vlr_set'])

In [136]:
df_tp_var.sort_values("vlr_sum", ascending=False)

                            tipo  vlr_sum      vlr_med  vlr_jan  vlr_fev  vlr_mar  vlr_abr  vlr_mai  vlr_jun  vlr_jul  vlr_ago  vlr_set
8                        mercado  8637.81  1439.635000  1003.71   873.85  1559.28   987.82   897.56   607.33   949.37  1292.70   466.19
2                    alimentacao  7013.04  1168.840000   950.17   589.97  1656.68   721.25   590.20   646.11   498.04   758.42   602.20
0                          feira  3000.41   500.068333   643.01   445.80   137.00   473.00   240.00   267.00   204.00   371.10   219.50
1                       gasolina  1578.89   263.148333   534.00   100.00   853.05     0.00     0.00     0.00     0.00     0.00    91.84
6                       farmacia   714.70   119.116667    52.97    60.28    64.51   176.77   178.51    37.47     0.00    66.97    77.22
31                         inter   600.00   100.000000     0.00     0.00     0.00   500.00     0.00     0.00     0.00   100.00     0.00
29                        picpay   550.00    91.666667     0.00     0.00     0.00   500.00     0.00    50.00     0.00     0.00     0.00
36                         lazer   535.42    89.236667     0.00     0.00     0.00     0.00   115.00    76.00   123.12     0.00   221.30
35                    consertotv   530.00    88.333333     0.00     0.00     0.00   530.00     0.00     0.00     0.00     0.00     0.00
41             churrasco-pessoal   468.25    78.041667     0.00     0.00     0.00     0.00     0.00     0.00     0.00     0.00   468.25
9                       mecanico   460.00    76.666667   250.00   210.00     0.00     0.00     0.00     0.00     0.00     0.00     0.00
23                      locadora   435.45    72.575000     0.00     0.00   435.45     0.00     0.00     0.00     0.00     0.00     0.00
5                        padaria   410.09    68.348333    23.92    76.97    82.39    26.31    36.69    13.08    32.00    69.74    48.99
16                     casamento   400.00    66.666667   100.00     0.00   300.00     0.00     0.00     0.00     0.00     0.00     0.00
13                         roupa   374.86    62.476667   114.89     0.00     0.00     0.00     0.00     0.00   259.97     0.00     0.00
10                      comercio   348.50    58.083333   125.50    72.00     0.00    45.00    76.00     0.00     0.00    30.00     0.00
37                      presente   230.99    38.498333     0.00     0.00     0.00     0.00     0.00     0.00   170.99    40.00    20.00
20                   cabelereiro   220.00    36.666667     0.00     0.00    30.00     0.00    35.00    35.00    35.00    85.00     0.00
3                  pernambucanas   201.96    33.660000   201.96     0.00     0.00     0.00     0.00     0.00     0.00     0.00     0.00
33                        cinema   192.80    32.133333     0.00     0.00     0.00   192.80     0.00     0.00     0.00     0.00     0.00
27                          uber   183.00    30.500000     0.00     0.00    50.00     0.00     0.00   115.00    18.00     0.00     0.00
11                      pedreiro   180.00    30.000000   180.00     0.00     0.00     0.00     0.00     0.00     0.00     0.00     0.00
14                          loja   160.42    26.736667    47.84    50.00     0.00     0.00    52.58    10.00     0.00     0.00     0.00
22                    americanas   156.16    26.026667     0.00     0.00    26.47    24.98    44.97     0.00     0.00     0.00    59.74
7                          multa   143.30    23.883333   143.30     0.00     0.00     0.00     0.00     0.00     0.00     0.00     0.00
43  material_construcao_banheiro   118.00    19.666667     0.00     0.00     0.00     0.00     0.00     0.00     0.00     0.00   118.00
32                    cosmeticos   116.70    19.450000     0.00     0.00     0.00    44.85     0.00     0.00     0.00    71.85     0.00
4                         pessoa   104.50    17.416667    40.00     0.00    40.00     0.00     0.00     0.00    24.50     0.00     0.00
44                        rafael   100.00    16.666667     0.00     0.00     0.00     0.00     0.00     0.00     0.00     0.00   100.00
28                           app    99.00    16.500000     0.00     0.00    99.00     0.00     0.00     0.00     0.00     0.00     0.00
12                         refil    98.14    16.356667    98.14     0.00     0.00     0.00     0.00     0.00     0.00     0.00     0.00
38                       celular    90.00    15.000000     0.00     0.00     0.00     0.00     0.00     0.00    40.00    50.00     0.00
40                     eletrolux    89.90    14.983333     0.00     0.00     0.00     0.00     0.00     0.00     0.00    89.90     0.00
19                  lojaesportes    79.98    13.330000     0.00     0.00    79.98     0.00     0.00     0.00     0.00     0.00     0.00
24                     brinquedo    70.00    11.666667     0.00     0.00    70.00     0.00     0.00     0.00     0.00     0.00     0.00
30                      cartorio    59.24     9.873333     0.00     0.00     0.00    59.24     0.00     0.00     0.00     0.00     0.00
34                     shopmetro    50.00     8.333333     0.00     0.00     0.00    30.00     0.00    20.00     0.00     0.00     0.00
15                        kalung    45.40     7.566667    11.50     0.00     0.00    33.90     0.00     0.00     0.00     0.00     0.00
42                       pessoal    40.00     6.666667     0.00     0.00     0.00     0.00     0.00     0.00     0.00     0.00    40.00
45                  cabeleireiro    35.00     5.833333     0.00     0.00     0.00     0.00     0.00     0.00     0.00     0.00    35.00
26                estacionamento    30.00     5.000000     0.00     0.00    30.00     0.00     0.00     0.00     0.00     0.00     0.00
25                       passeio    30.00     5.000000     0.00     0.00    30.00     0.00     0.00     0.00     0.00     0.00     0.00
39                         nomad    25.00     4.166667     0.00     0.00     0.00     0.00     0.00     0.00     0.00    25.00     0.00
17                        flores    20.00     3.333333     0.00    20.00     0.00     0.00     0.00     0.00     0.00     0.00     0.00
18                         ifood     5.95     0.991667     0.00     5.95     0.00     0.00     0.00     0.00     0.00     0.00     0.00
21                       pedagio     5.80     0.966667     0.00     0.00     5.80     0.00     0.00     0.00     0.00     0.00     0.00

In [137]:
df[(df['classificacao_custo']=='variado')&(df['tipo_custo_alt']!='poupanca')][["dt_mes_base","valor_custo"]].groupby(['dt_mes_base']).agg({"valor_custo":sum}).sort_values("valor_custo", ascending=False)

             valor_custo
dt_mes_base
2024-03-01       5549.61
2024-01-01       4520.91
2024-04-01       4345.92
2024-08-01       3050.68
2024-09-01       2568.23
2024-02-01       2504.82
2024-07-01       2354.99
2024-05-01       2266.51
2024-06-01       1876.99

In [138]:
df[["area_custo","valor_custo"]].groupby(['area_custo']).agg({"valor_custo":sum}).sort_values("valor_custo", ascending=False)

            valor_custo
area_custo
alto           50594.73
medio_n1       27631.73
poupanca       18000.00
medio          10338.35
carro           5255.98
igreja          4430.96
lazer           3775.95
invet           1150.00
imprevisto      1116.36
comercio         931.68
baixo            430.99

In [139]:

# df_gs=df[["dt_mes_base","tipo_custo_alt","valor_custo"]][(pd.to_datetime(df['dt_mes_base'])=='2024-01-01') & (df['classificacao_custo']=='fixo')].groupby(['dt_mes_base','tipo_custo_alt']).sum()

# df_gc=df[["dt_mes_base","tipo_custo_alt","valor_custo"]][(pd.to_datetime(df['dt_mes_base'])=='2024-01-01') & (df['classificacao_custo']=='fixo')].groupby(['dt_mes_base','tipo_custo_alt']).count()

In [140]:
# result = pd.concat([df_gs.rename(columns= {'valor_custo':'valor_custo_total'}), df_gc.rename(columns= {'valor_custo':'total_tp_custo'})
# ], axis=1)

In [141]:
# df[["dt_mes_base","tipo_custo_alt","area_custo","classificacao_custo","valor_custo"]]\
#     [(pd.to_datetime(df['dt_mes_base'])=='2024-05-01') & (df['area_custo']=='medio_n1') & (df['classificacao_custo']=='variado') ]\
#         .groupby(['dt_mes_base','area_custo','classificacao_custo','tipo_custo_alt'])\
#     .agg({"valor_custo":sum}).sort_values("valor_custo", ascending=False)

In [142]:
# df[["dt_mes_base","area_custo","classificacao_custo","valor_custo"]][ (df["area_custo"].isin(['medio_n1']))]\
#     .groupby(['dt_mes_base','area_custo','classificacao_custo']).agg({"valor_custo":sum}).sort_values("valor_custo", ascending=False)

In [143]:
from fin_api import analytics

jan=analytics(df, '2024-01-01', 'JAN')
fev=analytics(df, '2024-02-01', 'FEV')
mar=analytics(df, '2024-03-01', 'MAR')

In [144]:
jan,fev,mar

('JAN | custo geral: 13886.84 | custo fixo(alto): 5727.530000000001 | custo fixo(medio): 1164.89 | custo fixo(baixo): 772.25| custo variado: 4520.91',
 'FEV | custo geral: 9558.33 | custo fixo(alto): 4719.499999999999 | custo fixo(medio): 956.78 | custo fixo(baixo): 422.25| custo variado: 2504.82',
 'MAR | custo geral: 14282.04 | custo fixo(alto): 6389.96 | custo fixo(medio): 1030.19 | custo fixo(baixo): 622.25| custo variado: 5549.610000000001')

In [145]:
abr=analytics(df, '2024-04-01', 'ABR')
mai=analytics(df, '2024-05-01', 'MAI')
jun=analytics(df, '2024-06-01', 'JUN')

In [146]:
abr,mai,jun

('ABR | custo geral: 31533.11 | custo fixo(alto): 6132.8099999999995 | custo fixo(medio): 1001.0 | custo fixo(baixo): 833.9100000000001| custo variado: 4345.919999999999',
 'MAI | custo geral: 11601.21 | custo fixo(alto): 6486.97 | custo fixo(medio): 1004.8800000000001 | custo fixo(baixo): 749.28| custo variado: 2266.5099999999998',
 'JUN | custo geral: 11474.39 | custo fixo(alto): 5901.42 | custo fixo(medio): 1365.1399999999999 | custo fixo(baixo): 903.9100000000001| custo variado: 1876.9899999999998')

In [147]:
jul=analytics(df, '2024-04-01', 'JUL')
ago=analytics(df, '2024-05-01', 'AGO')
set=analytics(df, '2024-06-01', 'SET')

In [148]:
jul,ago,set

('JUL | custo geral: 31533.11 | custo fixo(alto): 6132.8099999999995 | custo fixo(medio): 1001.0 | custo fixo(baixo): 833.9100000000001| custo variado: 4345.919999999999',
 'AGO | custo geral: 11601.21 | custo fixo(alto): 6486.97 | custo fixo(medio): 1004.8800000000001 | custo fixo(baixo): 749.28| custo variado: 2266.5099999999998',
 'SET | custo geral: 11474.39 | custo fixo(alto): 5901.42 | custo fixo(medio): 1365.1399999999999 | custo fixo(baixo): 903.9100000000001| custo variado: 1876.9899999999998')

CRIAR DATAFRAME - PERCENTUAL GASTO FIXO E VARIADO NO MES

In [149]:


# # data_open='2023-08-31'
# # data_close='2023-09-07'
# total_valor_mercado = 200
# total_valor_alimentacao = 200
# total_valor_padaria = 100
# total_valor_feira = 200
# total_valor_gasolina = 200
# #total_valor_feira = df_grp_f.median()
# #df.loc[(df['tipo_custo']=='padaria') & ((pd.to_datetime(df['dt_mes_base'])=='2023-09-01'))]
# #dia = df_analytics["tempo_operando"].max()
# #df['valor_custo'].loc[(df['tipo_custo']=='alimentacao') & ((pd.to_datetime(df['dt_mes_base'])=='2023-11-01'))].sum()

# total_geral = df['valor_custo'][(pd.to_datetime(df['dt_mes_base'])=='2024-02-01')].sum()
# total_geral

# df_fake_man = pd.DataFrame()
# df_fake_man = pd.DataFrame({'dt_mes_base':['2024-01-01','2024-02-01','2024-03-01'],	
#                     'custo_geral':[df['valor_custo'][(pd.to_datetime(df['dt_mes_base'])=='2024-01-01')].sum(), df['valor_custo'][(pd.to_datetime(df['dt_mes_base'])=='2024-02-01')].sum(), df['valor_custo'][(pd.to_datetime(df['dt_mes_base'])=='2024-03-01')].sum()],
#                     'custo_fixo':[df['valor_custo'][(pd.to_datetime(df['dt_mes_base'])=='2024-01-01')].sum(), df['valor_custo'][(pd.to_datetime(df['dt_mes_base'])=='2024-02-01')].sum(), df['valor_custo'][(pd.to_datetime(df['dt_mes_base'])=='2024-03-01')].sum()],
#                     'custo_variado':[df['valor_custo'][(pd.to_datetime(df['dt_mes_base'])=='2024-01-01')].sum(), df['valor_custo'][(pd.to_datetime(df['dt_mes_base'])=='2024-02-01')].sum(), df['valor_custo'][(pd.to_datetime(df['dt_mes_base'])=='2024-03-01')].sum()]
#                     # pd.Timestamp(dt.datetime.strptime('2024-02-20', '%Y-%m-%d')+timedelta(days=5))],
#                     #'process_time':[pd.Timestamp(data_atual),pd.Timestamp(data_atual),pd.Timestamp(data_atual),pd.Timestamp(data_atual),pd.Timestamp(data_atual)],
#                     # 'close_price_x':[1955.00, None, None],	
#                     # 'lucro_real':[2000, 2000, 2000],
#                     # 'fund_invest':[None, None, None],	
#                     # 'fund_bruto':[int(max)+2000, int(max)+2000+2000, int(max)+2000+2000+2000],
#                     # 'fund_liquido':[None, None, None],	
#                     # 'tempo_operando':[int(dia)+2, int(dia)+2+4, int(dia)+2+4+4],	
#                     # 'tempo_oc_aberto':[2, 2, 2]
#                     })
   
# # )

# #dt_mes_base	dt_custo	process_time

In [150]:
from fin_api import analytcis_mes_custo

mes = analytcis_mes_custo(df)

1
2024-01-01 00:00:00
2024-01-31 00:00:00
2
2024-02-01 00:00:00
2024-02-29 00:00:00
3
2024-03-01 00:00:00
2024-03-31 00:00:00
4
2024-04-01 00:00:00
2024-04-30 00:00:00
5
2024-05-01 00:00:00
2024-05-31 00:00:00
6
2024-06-01 00:00:00
2024-06-30 00:00:00
7
2024-07-01 00:00:00
2024-07-31 00:00:00
8
2024-08-01 00:00:00
2024-08-31 00:00:00
9
2024-09-01 00:00:00
2024-09-30 00:00:00
10
2024-10-01 00:00:00
2024-10-31 00:00:00
11
2024-11-01 00:00:00
2024-11-30 00:00:00
12
2024-12-01 00:00:00
2024-12-31 00:00:00

In [151]:
df_per_zero = pd.DataFrame(mes, columns=['dt_mes_base','dt_ini','vlr_geral','vlr_fixo','perc_fix','vlr_variado','perc_var','dt_fin'])

In [152]:
df_per_zero

   dt_mes_base     dt_ini  vlr_geral  vlr_fixo  perc_fix  vlr_variado  perc_var     dt_fin
0      2024-01 2024-01-01   13886.84   9365.93     67.44      4520.91     32.56 2024-01-31
1      2024-02 2024-02-01    9558.33   7053.51     73.79      2504.82     26.21 2024-02-29
2      2024-03 2024-03-01   14282.04   8732.43     61.14      5549.61     38.86 2024-03-31
3      2024-04 2024-04-01   13533.11   9187.19     67.89      4345.92     32.11 2024-04-30
4      2024-05 2024-05-01   11601.21   9334.70     80.46      2266.51     19.54 2024-05-31
5      2024-06 2024-06-01   11474.39   9597.40     83.64      1876.99     16.36 2024-06-30
6      2024-07 2024-07-01   10309.67   7954.68     77.16      2354.99     22.84 2024-07-31
7      2024-08 2024-08-01   11641.52   8590.84     73.79      3050.68     26.21 2024-08-31
8      2024-09 2024-09-01    9369.62   6801.39     72.59      2568.23     27.41 2024-09-30
9      2024-10 2024-10-01       0.00      0.00      0.00         0.00      0.00 2024-10-31
10     2024-11 2024-11-01       0.00      0.00      0.00         0.00      0.00 2024-11-30
11     2024-12 2024-12-01       0.00      0.00      0.00         0.00      0.00 2024-12-31

# PERIODO 25 A 5

In [153]:
from fin_api import analytcis_mes_custo_periodo
# parametro 1 - soma com primeiro dia do mes
# parametro 2 - soma com o prmeiro dia do mes acima do primeiro parametro
mes = analytcis_mes_custo_periodo(df, 5, -15)

In [154]:
df_per_um = pd.DataFrame(mes, columns=['dt_mes_base','dt_ini','vlr_geral','vlr_fixo','perc_fix','vlr_variado','perc_var','dt_fin'])

In [155]:
df_per_um

   dt_mes_base     dt_ini  vlr_geral  vlr_fixo   perc_fix  vlr_variado   perc_var     dt_fin
0      2024-01 2024-01-06    5205.83   2957.31  56.807656      2248.52  43.192344 2024-01-16
1      2024-02 2024-02-06    2011.50    941.04  46.782998      1070.46  53.217002 2024-02-14
2      2024-03 2024-03-06    4481.18   1578.19  35.218179      2902.99  64.781821 2024-03-16
3      2024-04 2024-04-06    3969.25   2736.33  68.938213      1232.92  31.061787 2024-04-15
4      2024-05 2024-05-06    4636.39   3752.97  80.945951       883.42  19.054049 2024-05-16
5      2024-06 2024-06-06    5391.21   4791.81  88.881902       599.40  11.118098 2024-06-15
6      2024-07 2024-07-06    3690.97   2339.84  63.393634      1351.13  36.606366 2024-07-16
7      2024-08 2024-08-06    5421.34   3865.93  71.309492      1555.41  28.690508 2024-08-16
8      2024-09 2024-09-06    1805.59   1326.33  73.456876       479.26  26.543124 2024-09-15
9      2024-10 2024-10-06       0.00      0.00   0.000000         0.00   0.000000 2024-10-16
10     2024-11 2024-11-06       0.00      0.00   0.000000         0.00   0.000000 2024-11-15
11     2024-12 2024-12-06       0.00      0.00   0.000000         0.00   0.000000 2024-12-16

In [171]:
# df[["dt_mes_base","area_custo","classificacao_custo","valor_custo"]][ (df["area_custo"].isin(['medio_n1']))]\
#     .groupby(['dt_mes_base','area_custo','classificacao_custo']).agg({"valor_custo":sum}).sort_values("valor_custo", ascending=False)
df[(pd.to_datetime(df['dt_mes_base'])=='2024-08-01')&(df['tipo_custo']=='mercado')&(pd.to_datetime(df['dt_custo'])>='2024-08-01')]

    tipo_custo                custo  valor_custo dt_mes_base    dt_custo                     process_time        week_br tipo_custo_alt classificacao_custo area_custo
763    mercado     ELECTRONRS AVILA        93.04  2024-08-01  2024-08-05 2024-09-13 11:09:10.860820+00:00  segunda-feira        mercado             variado   medio_n1
766    mercado  ELECTRONPCA N MUNDO         9.30  2024-08-01  2024-08-05 2024-09-13 11:09:10.860820+00:00  segunda-feira        mercado             variado   medio_n1
767    mercado  ELECTRONSUPERMERCAD       384.57  2024-08-01  2024-08-05 2024-09-13 11:09:10.860820+00:00  segunda-feira        mercado             variado   medio_n1
769    mercado     ELECTRONRS AVILA        18.10  2024-08-01  2024-08-06 2024-09-13 11:09:10.860820+00:00    terça-feira        mercado             variado   medio_n1
781    mercado  ELECTRONCARREFOUR X        29.79  2024-08-01  2024-08-08 2024-09-13 11:09:10.860820+00:00   quinta-feira        mercado             variado   medio_n1
785    mercado     ELECTRONRS AVILA        38.80  2024-08-01  2024-08-09 2024-09-13 11:09:10.860820+00:00    sexta-feira        mercado             variado   medio_n1
790    mercado     ELECTRONRS AVILA        12.18  2024-08-01  2024-08-12 2024-09-13 11:09:10.860820+00:00  segunda-feira        mercado             variado   medio_n1
798    mercado     ELECTRONRS AVILA        41.95  2024-08-01  2024-08-12 2024-09-13 11:09:10.860820+00:00  segunda-feira        mercado             variado   medio_n1
801    mercado     ELECTRONRS AVILA        40.63  2024-08-01  2024-08-12 2024-09-13 11:09:10.860820+00:00  segunda-feira        mercado             variado   medio_n1
803    mercado     ELECTRONRS AVILA        72.22  2024-08-01  2024-08-12 2024-09-13 11:09:10.860820+00:00  segunda-feira        mercado             variado   medio_n1
804    mercado     ELECTRONRS AVILA        62.48  2024-08-01  2024-08-12 2024-09-13 11:09:10.860820+00:00  segunda-feira        mercado             variado   medio_n1
807    mercado  ELECTRONPCA N MUNDO        36.99  2024-08-01  2024-08-12 2024-09-13 11:09:10.860820+00:00  segunda-feira        mercado             variado   medio_n1
812    mercado     ELECTRONRS AVILA       126.94  2024-08-01  2024-08-14 2024-09-13 11:09:10.860820+00:00   quarta-feira        mercado             variado   medio_n1
818    mercado  ELECTRONCARREFOUR X        26.80  2024-08-01  2024-08-15 2024-09-13 11:09:10.860820+00:00   quinta-feira        mercado             variado   medio_n1
832    mercado  ELECTRONPCA N MUNDO        34.37  2024-08-01  2024-08-19 2024-09-13 11:09:10.860820+00:00  segunda-feira        mercado             variado   medio_n1
835    mercado     ELECTRONRS AVILA        22.95  2024-08-01  2024-08-19 2024-09-13 11:09:10.860820+00:00  segunda-feira        mercado             variado   medio_n1
846    mercado  ELECTRONPCA N MUNDO         7.49  2024-08-01  2024-08-21 2024-09-13 11:09:10.860820+00:00   quarta-feira        mercado             variado   medio_n1
847    mercado     ELECTRONRS AVILA        28.75  2024-08-01  2024-08-21 2024-09-13 11:09:10.860820+00:00   quarta-feira        mercado             variado   medio_n1
850    mercado  ELECTRONPCA N MUNDO        21.69  2024-08-01  2024-08-22 2024-09-13 11:09:10.860820+00:00   quinta-feira        mercado             variado   medio_n1
853    mercado     ELECTRONRS AVILA        47.34  2024-08-01  2024-08-23 2024-09-13 11:09:10.860820+00:00    sexta-feira        mercado             variado   medio_n1
868    mercado  ELECTRONPCA N MUNDO         1.99  2024-08-01  2024-08-28 2024-09-13 11:09:10.860820+00:00   quarta-feira        mercado             variado   medio_n1
869    mercado  ELECTRONPCA N MUNDO        12.90  2024-08-01  2024-08-28 2024-09-13 11:09:10.860820+00:00   quarta-feira        mercado             variado   medio_n1
874    mercado  ELECTRONPCA N MUNDO        38.08  2024-08-01  2024-08-29 2024-09-13 11:09:10.860820+00:00   quinta-feira        mercado             variado   medio_n1
878    mercado     ELECTRONRS AVILA        28.08  2024-08-01  2024-08-30 2024-09-13 11:09:10.860820+00:00    sexta-feira        mercado             variado   medio_n1

# PERIODO 5 A 15

In [157]:
# list_data=['2024-01','2024-02','2024-03','2024-04','2024-05', '2024-06', '2024-07']
# from fin_api import analytcis_df_dias
# mes = analytcis_df_dias(df, 4, -16, list_data)

# PERIODO 15 A 25

In [158]:
# list_data=['2024-01','2024-02','2024-03','2024-04','2024-05', '2024-06', '2024-07']
# from fin_api import analytcis_df_dias
# mes = analytcis_df_dias(df, 15, -5, list_data)

In [159]:
from fin_api import analytcis_mes_custo_variavel
list_tp=['alimentacao','mercado','gasolina','transporte_pub','feira']

mes = analytcis_mes_custo_variavel(df,list_tp)

In [160]:
df_fake_man = pd.DataFrame(mes, columns=['dt_mes_base','tipo','dt_ini','valor','dt_fin','dt_mes_base_ant','valor_variado','%']) #dt_mes_base,dt_ini,v,dt_ini, dt_mes_base_ant, v_mes_ant

In [161]:
df_x_01 = df_fake_man[df_fake_man['dt_mes_base']=='2024-1-01']#["tipo","valor_variado"]
df_x_02 = df_fake_man[df_fake_man['dt_mes_base']=='2024-2-01']#["tipo","valor_variado"]
df_x_03 = df_fake_man[df_fake_man['dt_mes_base']=='2024-3-01']#["tipo","valor_variado"]
df_x_04 = df_fake_man[df_fake_man['dt_mes_base']=='2024-4-01']#["tipo","valor_variado"]
df_x_05 = df_fake_man[df_fake_man['dt_mes_base']=='2024-5-01']#["tipo","valor_variado"]
df_x_06 = df_fake_man[df_fake_man['dt_mes_base']=='2024-6-01']#["tipo","valor_variado"]
df_x_07 = df_fake_man[df_fake_man['dt_mes_base']=='2024-7-01']#["tipo","valor_variado"]
df_x_08 = df_fake_man[df_fake_man['dt_mes_base']=='2024-8-01']#["tipo","valor_variado"]
df_x_09 = df_fake_man[df_fake_man['dt_mes_base']=='2024-9-01']#["tipo","valor_variado"]



result = pd.concat([df_x_01, df_x_02, df_x_03, df_x_04, df_x_05, df_x_06], axis=1)
result = pd.merge(df_x_01, df_x_02, on="tipo", suffixes=('_w', '_z') ) #how="outer", left_on="col1", right_on="col1"
result = pd.merge(result, df_x_03, on="tipo" , suffixes=('_a', '_b'))
result = pd.merge(result, df_x_04, on="tipo" , suffixes=('_ax', '_bx'))
result = pd.merge(result, df_x_05, on="tipo" , suffixes=('_ay', '_by'))
result = pd.merge(result, df_x_06, on="tipo" , suffixes=('_aw', '_bw'))

In [162]:
result

Empty DataFrame
Columns: [dt_mes_base_w, dt_ini_w, valor_w, dt_fin_w, dt_mes_base_ant_w, valor_variado_w, %_w, dt_mes_base_z, dt_ini_z, valor_z, dt_fin_z, dt_mes_base_ant_z, valor_variado_z, %_z, dt_mes_base_ax, dt_ini_ax, valor_ax, dt_fin_ax, dt_mes_base_ant_ax, valor_variado_ax, %_ax, dt_mes_base_bx, dt_ini_bx, valor_bx, dt_fin_bx, dt_mes_base_ant_bx, valor_variado_bx, %_bx, dt_mes_base_aw, dt_ini_aw, valor_aw, dt_fin_aw, dt_mes_base_ant_aw, valor_variado_aw, %_aw, dt_mes_base_bw, tipo, dt_ini_bw, valor_bw, dt_fin_bw, dt_mes_base_ant_bw, valor_variado_bw, %_bw]
Index: []

RESULTADO - ANALISE

In [163]:
df_tp.sort_values("vlr_sum", ascending=False)

              tipo   vlr_sum      vlr_med  vlr_jan  vlr_fev  vlr_mar  vlr_abr  vlr_mai  vlr_jun  vlr_jul  vlr_ago  valor_set
16   financiamento  25142.33  4190.388333  2808.59  2806.62  2802.42  2797.89  2793.61  2789.42  2785.24  2781.33    2777.21
11      emprestimo  10500.00  1750.000000  1400.00     0.00  2800.00  1400.00  1400.00  1400.00   700.00  1400.00       0.00
12          cartao   7042.06  1173.676667   635.00   662.76     0.00  1113.10  1394.22   866.55   874.61   883.34     612.48
3           boleto   6560.53  1093.421667   687.15  1063.33   687.15   687.15   687.15   687.15   687.15   687.15     687.15
0           igreja   4430.96   738.493333   924.49   154.00   248.00   284.00   635.54  1240.93   336.00   160.00     448.00
17             gas   2892.48   482.080000   246.96   206.42   218.33   252.14   285.81   455.28   396.55   420.73     410.26
6              cea   2518.66   419.776667   187.25   187.25   187.25   348.91   364.28   348.91   348.91   361.91     183.99
8   transporte_pub   2351.00   391.833333   350.00   150.00   150.00   300.00   250.00   220.00   300.00   320.00     311.00
2           sabesp   2344.82   390.803333   325.72   185.02   241.30   193.57   162.43   353.86   306.57   348.41     227.94
15             net   2150.24   358.373333   255.49   225.59   225.59   224.97   225.59   225.59   236.51   294.40     236.51
5            claro   1842.38   307.063333   204.00   204.00   204.00   204.00   204.00   204.00   204.00   207.19     207.19
19  escola_futebol   1717.73   286.288333     0.00   155.00   137.00   380.00   130.00   130.00   300.00   285.73     200.00
14            ipva   1275.15   212.525000   255.03   255.03   255.03   255.03   255.03     0.00     0.00     0.00       0.00
18             luz   1108.43   184.738333   132.72   135.75   140.97   126.32   127.05   126.41   108.81    99.63     110.77
10           ajuda    915.00   152.500000    85.00    85.00    85.00    85.00    85.00   235.00    85.00    85.00      85.00
4            banco    898.05   149.675000    96.79    96.79   100.39   100.68   100.68   100.68   100.68   100.68     100.68
9          futebol    830.00   138.333333   180.00   204.00    50.00   117.00    73.00    56.00    50.00    50.00      50.00
7     porto_seguro    826.49   137.748333   341.74   166.95     0.00   183.44     0.00     0.00   134.36     0.00       0.00
13            dora    750.00   125.000000   150.00     0.00   200.00   100.00     0.00   100.00     0.00   100.00     100.00
1            saque    220.00    36.666667   100.00    90.00     0.00    20.00    10.00     0.00     0.00     0.00       0.00
23           juros    166.55    27.758333     0.00     0.00     0.00     0.00    85.55    37.84     0.00     0.00      43.16
21      Taxa_banco     65.21    10.868333     0.00     0.00     0.00    13.99    15.76    19.78     0.29     5.34      10.05
22      recargapay     50.00     8.333333     0.00     0.00     0.00     0.00    50.00     0.00     0.00     0.00       0.00
20           carro     20.00     3.333333     0.00    20.00     0.00     0.00     0.00     0.00     0.00     0.00       0.00

In [164]:
df_tp_var.sort_values("vlr_sum", ascending=False)

                            tipo  vlr_sum      vlr_med  vlr_jan  vlr_fev  vlr_mar  vlr_abr  vlr_mai  vlr_jun  vlr_jul  vlr_ago  vlr_set
8                        mercado  8637.81  1439.635000  1003.71   873.85  1559.28   987.82   897.56   607.33   949.37  1292.70   466.19
2                    alimentacao  7013.04  1168.840000   950.17   589.97  1656.68   721.25   590.20   646.11   498.04   758.42   602.20
0                          feira  3000.41   500.068333   643.01   445.80   137.00   473.00   240.00   267.00   204.00   371.10   219.50
1                       gasolina  1578.89   263.148333   534.00   100.00   853.05     0.00     0.00     0.00     0.00     0.00    91.84
6                       farmacia   714.70   119.116667    52.97    60.28    64.51   176.77   178.51    37.47     0.00    66.97    77.22
31                         inter   600.00   100.000000     0.00     0.00     0.00   500.00     0.00     0.00     0.00   100.00     0.00
29                        picpay   550.00    91.666667     0.00     0.00     0.00   500.00     0.00    50.00     0.00     0.00     0.00
36                         lazer   535.42    89.236667     0.00     0.00     0.00     0.00   115.00    76.00   123.12     0.00   221.30
35                    consertotv   530.00    88.333333     0.00     0.00     0.00   530.00     0.00     0.00     0.00     0.00     0.00
41             churrasco-pessoal   468.25    78.041667     0.00     0.00     0.00     0.00     0.00     0.00     0.00     0.00   468.25
9                       mecanico   460.00    76.666667   250.00   210.00     0.00     0.00     0.00     0.00     0.00     0.00     0.00
23                      locadora   435.45    72.575000     0.00     0.00   435.45     0.00     0.00     0.00     0.00     0.00     0.00
5                        padaria   410.09    68.348333    23.92    76.97    82.39    26.31    36.69    13.08    32.00    69.74    48.99
16                     casamento   400.00    66.666667   100.00     0.00   300.00     0.00     0.00     0.00     0.00     0.00     0.00
13                         roupa   374.86    62.476667   114.89     0.00     0.00     0.00     0.00     0.00   259.97     0.00     0.00
10                      comercio   348.50    58.083333   125.50    72.00     0.00    45.00    76.00     0.00     0.00    30.00     0.00
37                      presente   230.99    38.498333     0.00     0.00     0.00     0.00     0.00     0.00   170.99    40.00    20.00
20                   cabelereiro   220.00    36.666667     0.00     0.00    30.00     0.00    35.00    35.00    35.00    85.00     0.00
3                  pernambucanas   201.96    33.660000   201.96     0.00     0.00     0.00     0.00     0.00     0.00     0.00     0.00
33                        cinema   192.80    32.133333     0.00     0.00     0.00   192.80     0.00     0.00     0.00     0.00     0.00
27                          uber   183.00    30.500000     0.00     0.00    50.00     0.00     0.00   115.00    18.00     0.00     0.00
11                      pedreiro   180.00    30.000000   180.00     0.00     0.00     0.00     0.00     0.00     0.00     0.00     0.00
14                          loja   160.42    26.736667    47.84    50.00     0.00     0.00    52.58    10.00     0.00     0.00     0.00
22                    americanas   156.16    26.026667     0.00     0.00    26.47    24.98    44.97     0.00     0.00     0.00    59.74
7                          multa   143.30    23.883333   143.30     0.00     0.00     0.00     0.00     0.00     0.00     0.00     0.00
43  material_construcao_banheiro   118.00    19.666667     0.00     0.00     0.00     0.00     0.00     0.00     0.00     0.00   118.00
32                    cosmeticos   116.70    19.450000     0.00     0.00     0.00    44.85     0.00     0.00     0.00    71.85     0.00
4                         pessoa   104.50    17.416667    40.00     0.00    40.00     0.00     0.00     0.00    24.50     0.00     0.00
44                        rafael   100.00    16.666667     0.00     0.00     0.00     0.00     0.00     0.00     0.00     0.00   100.00
28                           app    99.00    16.500000     0.00     0.00    99.00     0.00     0.00     0.00     0.00     0.00     0.00
12                         refil    98.14    16.356667    98.14     0.00     0.00     0.00     0.00     0.00     0.00     0.00     0.00
38                       celular    90.00    15.000000     0.00     0.00     0.00     0.00     0.00     0.00    40.00    50.00     0.00
40                     eletrolux    89.90    14.983333     0.00     0.00     0.00     0.00     0.00     0.00     0.00    89.90     0.00
19                  lojaesportes    79.98    13.330000     0.00     0.00    79.98     0.00     0.00     0.00     0.00     0.00     0.00
24                     brinquedo    70.00    11.666667     0.00     0.00    70.00     0.00     0.00     0.00     0.00     0.00     0.00
30                      cartorio    59.24     9.873333     0.00     0.00     0.00    59.24     0.00     0.00     0.00     0.00     0.00
34                     shopmetro    50.00     8.333333     0.00     0.00     0.00    30.00     0.00    20.00     0.00     0.00     0.00
15                        kalung    45.40     7.566667    11.50     0.00     0.00    33.90     0.00     0.00     0.00     0.00     0.00
42                       pessoal    40.00     6.666667     0.00     0.00     0.00     0.00     0.00     0.00     0.00     0.00    40.00
45                  cabeleireiro    35.00     5.833333     0.00     0.00     0.00     0.00     0.00     0.00     0.00     0.00    35.00
26                estacionamento    30.00     5.000000     0.00     0.00    30.00     0.00     0.00     0.00     0.00     0.00     0.00
25                       passeio    30.00     5.000000     0.00     0.00    30.00     0.00     0.00     0.00     0.00     0.00     0.00
39                         nomad    25.00     4.166667     0.00     0.00     0.00     0.00     0.00     0.00     0.00    25.00     0.00
17                        flores    20.00     3.333333     0.00    20.00     0.00     0.00     0.00     0.00     0.00     0.00     0.00
18                         ifood     5.95     0.991667     0.00     5.95     0.00     0.00     0.00     0.00     0.00     0.00     0.00
21                       pedagio     5.80     0.966667     0.00     0.00     5.80     0.00     0.00     0.00     0.00     0.00     0.00

In [165]:
df_per_zero

   dt_mes_base     dt_ini  vlr_geral  vlr_fixo  perc_fix  vlr_variado  perc_var     dt_fin
0      2024-01 2024-01-01   13886.84   9365.93     67.44      4520.91     32.56 2024-01-31
1      2024-02 2024-02-01    9558.33   7053.51     73.79      2504.82     26.21 2024-02-29
2      2024-03 2024-03-01   14282.04   8732.43     61.14      5549.61     38.86 2024-03-31
3      2024-04 2024-04-01   13533.11   9187.19     67.89      4345.92     32.11 2024-04-30
4      2024-05 2024-05-01   11601.21   9334.70     80.46      2266.51     19.54 2024-05-31
5      2024-06 2024-06-01   11474.39   9597.40     83.64      1876.99     16.36 2024-06-30
6      2024-07 2024-07-01   10309.67   7954.68     77.16      2354.99     22.84 2024-07-31
7      2024-08 2024-08-01   11641.52   8590.84     73.79      3050.68     26.21 2024-08-31
8      2024-09 2024-09-01    9369.62   6801.39     72.59      2568.23     27.41 2024-09-30
9      2024-10 2024-10-01       0.00      0.00      0.00         0.00      0.00 2024-10-31
10     2024-11 2024-11-01       0.00      0.00      0.00         0.00      0.00 2024-11-30
11     2024-12 2024-12-01       0.00      0.00      0.00         0.00      0.00 2024-12-31

In [166]:
# df.loc[(pd.to_datetime(df['dt_mes_base'])=='2024-08-01') ]
df[["dt_mes_base","tipo_custo_alt","valor_custo"]][ (pd.to_datetime(df['dt_mes_base'])=='2024-09-01') ]\
    .groupby(['dt_mes_base','tipo_custo_alt']).agg({"valor_custo":sum}).sort_values("valor_custo", ascending=False)

                                          valor_custo
dt_mes_base tipo_custo_alt
2024-09-01  financiamento                     2777.21
            boleto                             687.15
            cartao                             612.48
            alimentacao                        602.20
            churrasco-pessoal                  468.25
            mercado                            466.19
            igreja                             448.00
            gas                                410.26
            transporte_pub                     311.00
            net                                236.51
            sabesp                             227.94
            lazer                              221.30
            feira                              219.50
            claro                              207.19
            escola_futebol                     200.00
            cea                                183.99
            material_construcao_banheiro       118.00
            luz                                110.77
            banco                              100.68
            dora                               100.00
            rafael                             100.00
            gasolina                            91.84
            ajuda                               85.00
            farmacia                            77.22
            americanas                          59.74
            futebol                             50.00
            padaria                             48.99
            juros                               43.16
            pessoal                             40.00
            cabeleireiro                        35.00
            presente                            20.00
            Taxa_banco                          10.05

In [167]:
# df.loc[(pd.to_datetime(df['dt_mes_base'])=='2024-07-01') &  ]
df[ (pd.to_datetime(df['dt_mes_base'])=='2024-09-01') & (~df['tipo_custo_alt'].isin(['mercado']))]

                       tipo_custo                     custo  valor_custo dt_mes_base    dt_custo                     process_time        week_br                tipo_custo_alt classificacao_custo area_custo
881     alimentacao-futebolsamuel       ELECTRONARENA SANTA        15.00  2024-09-01  2024-09-02 2024-09-23 18:15:31.823963+00:00  segunda-feira                   alimentacao             variado   medio_n1
882             churrasco-pessoal       ELECTRONATACADAO 06       468.25  2024-09-01  2024-09-02 2024-09-23 18:15:31.823963+00:00  segunda-feira             churrasco-pessoal             variado   medio_n1
883          alimentacao-feijoada       ELECTRONLUIZ ANTONI        35.00  2024-09-01  2024-09-02 2024-09-23 18:15:31.823963+00:00  segunda-feira                   alimentacao             variado   medio_n1
884                  feira-frutas       ELECTRONOrielPereir        30.00  2024-09-01  2024-09-02 2024-09-23 18:15:31.823963+00:00  segunda-feira                         feira             variado   medio_n1
885                escola_futebol       ELECTRONPG *TON CHU        35.00  2024-09-01  2024-09-02 2024-09-23 18:15:31.823963+00:00  segunda-feira                escola_futebol                fixo      lazer
886                       pessoal  PIX TRANSF  LUCIANO02/09        40.00  2024-09-01  2024-09-02 2024-09-23 18:15:31.823963+00:00  segunda-feira                       pessoal             variado      baixo
887                        sabesp    SABESP      3082129325       227.94  2024-09-01  2024-09-02 2024-09-23 18:15:31.823963+00:00  segunda-feira                        sabesp                fixo      medio
888                    Taxa_banco                       IOF        10.05  2024-09-01  2024-09-03 2024-09-23 18:15:31.823963+00:00    terça-feira                    Taxa_banco                fixo       alto
889                         banco  TAR PACOTE ITAU   AGO/24        92.50  2024-09-01  2024-09-03 2024-09-23 18:15:31.823963+00:00    terça-feira                         banco                fixo       alto
890  material_construcao_banheiro       ELECTRONBicoMateria       118.00  2024-09-01  2024-09-04 2024-09-23 18:15:31.823963+00:00   quarta-feira  material_construcao_banheiro             variado      carro
891                        igreja  PIX TRANSF  IMW 3 R05/09       264.00  2024-09-01  2024-09-05 2024-09-23 18:15:31.823963+00:00   quinta-feira                        igreja                fixo     igreja
892                         juros     JUROS LIMITE DA CONTA        43.16  2024-09-01  2024-09-05 2024-09-23 18:15:31.823963+00:00   quinta-feira                         juros                fixo       alto
893                         claro  DA  CLARO MOVEL 46827990        57.29  2024-09-01  2024-09-05 2024-09-23 18:15:31.823963+00:00   quinta-feira                         claro                fixo      medio
894                transporte_pub       ELECTRONBB TRANSPOR        50.00  2024-09-01  2024-09-06 2024-09-23 18:15:31.823963+00:00    sexta-feira                transporte_pub                fixo   medio_n1
895                escola_futebol       ELECTRONREAL BRASIL        15.00  2024-09-01  2024-09-06 2024-09-23 18:15:31.823963+00:00    sexta-feira                escola_futebol                fixo      lazer
896                   alimentacao       ELECTRONRESTAURANTE        30.00  2024-09-01  2024-09-06 2024-09-23 18:15:31.823963+00:00    sexta-feira                   alimentacao             variado   medio_n1
897                        boleto   MOBILEPAG TIT BANCO 237       687.15  2024-09-01  2024-09-06 2024-09-23 18:15:31.823963+00:00    sexta-feira                        boleto                fixo       alto
898                transporte_pub  PIX TRANSF  EMBRYO 06/09       100.00  2024-09-01  2024-09-06 2024-09-23 18:15:31.823963+00:00    sexta-feira                transporte_pub                fixo   medio_n1
899                        rafael  PIX TRANSF  Rafael 06/09       100.00  2024-09-01  2024-09-06 2024-09-23 18:15:31.823963+00:00    sexta-feira                        rafael             variado      baixo
900                       padaria       ELECTRONPADARIA DEL        39.99  2024-09-01  2024-09-09 2024-09-23 18:15:31.823963+00:00  segunda-feira                       padaria             variado   medio_n1
903                escola_futebol   MOBILEPAG TIT BANCO 461       130.00  2024-09-01  2024-09-09 2024-09-23 18:15:31.823963+00:00  segunda-feira                escola_futebol                fixo      lazer
904                        igreja  PIX TRANSF  IMW 3 R08/09        50.00  2024-09-01  2024-09-09 2024-09-23 18:15:31.823963+00:00  segunda-feira                        igreja                fixo     igreja
905                        igreja  PIX TRANSF  IMW 3 R08/09        10.00  2024-09-01  2024-09-09 2024-09-23 18:15:31.823963+00:00  segunda-feira                        igreja                fixo     igreja
906                   alimentacao       ELECTRONRESTAURANTE        35.00  2024-09-01  2024-09-10 2024-09-23 18:15:31.823963+00:00    terça-feira                   alimentacao             variado   medio_n1
907                          dora  PIX TRANSF  DORALIC10/09       100.00  2024-09-01  2024-09-10 2024-09-23 18:15:31.823963+00:00    terça-feira                          dora                fixo   medio_n1
908                transporte_pub  PIX TRANSF  EMBRYO 10/09        21.00  2024-09-01  2024-09-10 2024-09-23 18:15:31.823963+00:00    terça-feira                transporte_pub                fixo   medio_n1
909                transporte_pub  PIX TRANSF  EMBRYO 10/09        20.00  2024-09-01  2024-09-10 2024-09-23 18:15:31.823963+00:00    terça-feira                transporte_pub                fixo   medio_n1
910                presente-metro  PIX TRANSF  Luan Pa10/09        20.00  2024-09-01  2024-09-10 2024-09-23 18:15:31.823963+00:00    terça-feira                      presente             variado      baixo
911                         banco             SEGURO CARTAO         8.18  2024-09-01  2024-09-10 2024-09-23 18:15:31.823963+00:00    terça-feira                         banco                fixo       alto
913                       futebol  PIX TRANSF  Joadson11/09        50.00  2024-09-01  2024-09-11 2024-09-23 18:15:31.823963+00:00   quarta-feira                       futebol                fixo      lazer
918                         ajuda          DEB AUTOR UNICEF        85.00  2024-09-01  2024-09-13 2024-09-23 18:15:31.823963+00:00    sexta-feira                         ajuda                fixo   medio_n1
919     alimentacao-futebolsamuel       ELECTRONARENA SANTA        14.00  2024-09-01  2024-09-16 2024-09-23 18:15:31.823963+00:00  segunda-feira                   alimentacao             variado   medio_n1
920     alimentacao-futebolsamuel       ELECTRONARENA SANTA        13.00  2024-09-01  2024-09-16 2024-09-23 18:15:31.823963+00:00  segunda-feira                   alimentacao             variado   medio_n1
921                  feira-banana       ELECTRONBANANAS ANA        10.00  2024-09-01  2024-09-16 2024-09-23 18:15:31.823963+00:00  segunda-feira                         feira             variado   medio_n1
922                   alimentacao       ELECTRONCarlosDiyod        14.00  2024-09-01  2024-09-16 2024-09-23 18:15:31.823963+00:00  segunda-feira                   alimentacao             variado   medio_n1
923                   alimentacao       ELECTRONCALDOS MANA        32.00  2024-09-01  2024-09-16 2024-09-23 18:15:31.823963+00:00  segunda-feira                   alimentacao             variado   medio_n1
924                      farmacia       ELECTRONDROGARIA SA        26.17  2024-09-01  2024-09-16 2024-09-23 18:15:31.823963+00:00  segunda-feira                      farmacia             variado   medio_n1
925                 feira-ferutas         ELECTRONEdufrutas        20.00  2024-09-01  2024-09-16 2024-09-23 18:15:31.823963+00:00  segunda-feira                         feira             variado   medio_n1
927                  feira-pastel       ELECTRONKUNIKO KOHA        40.00  2024-09-01  2024-09-16 2024-09-23 18:15:31.823963+00:00  segunda-feira                         feira             variado   medio_n1
928                   alimentacao          ELECTRONMP*ORIEL        50.00  2024-09-01  2024-09-16 2024-09-23 18:15:31.823963+00:00  segunda-feira                   alimentacao             variado   medio_n1
929                    feira-ovos               ELECTRONPkf        17.50  2024-09-01  2024-09-16 2024-09-23 18:15:31.823963+00:00  segunda-feira                         feira             variado   medio_n1
930                         feira       ELECTRONPG *TON CAS        19.00  2024-09-01  2024-09-16 2024-09-23 18:15:31.823963+00:00  segunda-feira                         feira             variado   medio_n1
931                 feira-legumes       ELECTRONPG *TON FEI        20.00  2024-09-01  2024-09-16 2024-09-23 18:15:31.823963+00:00  segunda-feira                         feira             variado   medio_n1
932                  feira-frango          ELECTRONRobinson        30.00  2024-09-01  2024-09-16 2024-09-23 18:15:31.823963+00:00  segunda-feira                         feira             variado   medio_n1
933                         feira       ELECTRONRosileneDaS        11.00  2024-09-01  2024-09-16 2024-09-23 18:15:31.823963+00:00  segunda-feira                         feira             variado   medio_n1
934                           cea  PIX QRS CEA PAY FUN16/09       183.99  2024-09-01  2024-09-16 2024-09-23 18:15:31.823963+00:00  segunda-feira                           cea                fixo   medio_n1
935                         feira  PIX TRANSF  Dilza S14/09        20.00  2024-09-01  2024-09-16 2024-09-23 18:15:31.823963+00:00  segunda-feira                         feira             variado   medio_n1
936                        cartao             INT ITAU VISA       612.48  2024-09-01  2024-09-16 2024-09-23 18:15:31.823963+00:00  segunda-feira                        cartao                fixo       alto
937                         claro  DA  CLARO MOVEL 66459258       149.90  2024-09-01  2024-09-16 2024-09-23 18:15:31.823963+00:00  segunda-feira                         claro                fixo      medio
939                    americanas       ELECTRONLOJAS AMERI        59.74  2024-09-01  2024-09-17 2024-09-23 18:15:31.823963+00:00    terça-feira                    americanas             variado   comercio
940                      farmacia       ELECTRONMundomedDro        51.05  2024-09-01  2024-09-17 2024-09-23 18:15:31.823963+00:00    terça-feira                      farmacia             variado   medio_n1
941          alimentacao-shopping       ELECTRONSHOPPING BA        40.90  2024-09-01  2024-09-17 2024-09-23 18:15:31.823963+00:00    terça-feira                   alimentacao             variado   medio_n1
942             alimentacao-caldo  PIX TRANSF  Donavil17/09        50.00  2024-09-01  2024-09-17 2024-09-23 18:15:31.823963+00:00    terça-feira                   alimentacao             variado   medio_n1
943                           luz  DA  ELETROPAULO 11701161       110.77  2024-09-01  2024-09-17 2024-09-23 18:15:31.823963+00:00    terça-feira                           luz                fixo      medio
944                  cabeleireiro  PIX TRANSF  Erlon J18/09        35.00  2024-09-01  2024-09-18 2024-09-23 18:15:31.823963+00:00   quarta-feira                  cabeleireiro             variado      baixo
945                   alimentacao       ELECTRONGALPAO GAUC        20.77  2024-09-01  2024-09-19 2024-09-23 18:15:31.823963+00:00   quinta-feira                   alimentacao             variado   medio_n1
947           alimentacao-churros  PIX TRANSF  EDMILSO19/09        20.00  2024-09-01  2024-09-19 2024-09-23 18:15:31.823963+00:00   quinta-feira                   alimentacao             variado   medio_n1
948             alimentacao-sodie       ELECTRONDivinePadar       106.59  2024-09-01  2024-09-20 2024-09-23 18:15:31.823963+00:00    sexta-feira                   alimentacao             variado   medio_n1
949          alimentacao-shopping       ELECTRONICE 4U GELA        56.14  2024-09-01  2024-09-20 2024-09-23 18:15:31.823963+00:00    sexta-feira                   alimentacao             variado   medio_n1
950          alimentacao-shopping       ELECTRONSHOPPING ME        69.80  2024-09-01  2024-09-20 2024-09-23 18:15:31.823963+00:00    sexta-feira                   alimentacao             variado   medio_n1
951                         feira       ELECTRONTROPICAL DO         2.00  2024-09-01  2024-09-20 2024-09-23 18:15:31.823963+00:00    sexta-feira                         feira             variado   medio_n1
952                escola_futebol  PIX TRANSF  LUCIANO20/09        20.00  2024-09-01  2024-09-20 2024-09-23 18:15:31.823963+00:00    sexta-feira                escola_futebol                fixo      lazer
953                           net  DA  NET SERVICOS 5680788       236.51  2024-09-01  2024-09-20 2024-09-23 18:15:31.823963+00:00    sexta-feira                           net                fixo      medio
954                transporte_pub  PIX TRANSF  EMBRYO 21/09       100.00  2024-09-01  2024-09-23 2024-09-23 18:15:31.823963+00:00  segunda-feira                transporte_pub                fixo   medio_n1
955                       padaria       ELECTRONPadariaChar         9.00  2024-09-01  2024-09-23 2024-09-23 18:15:31.823963+00:00  segunda-feira                       padaria             variado   medio_n1
957                lazer-hopihari         ELECTRONHOPI HARI        26.90  2024-09-01  2024-09-23 2024-09-23 18:15:31.823963+00:00  segunda-feira                         lazer             variado      lazer
958                lazer-hopihari         ELECTRONHOPI HARI        89.70  2024-09-01  2024-09-23 2024-09-23 18:15:31.823963+00:00  segunda-feira                         lazer             variado      lazer
959                lazer-hopihari         ELECTRONHOPI HARI        95.70  2024-09-01  2024-09-23 2024-09-23 18:15:31.823963+00:00  segunda-feira                         lazer             variado      lazer
960                lazer-hopihari         ELECTRONHOPI HARI         9.00  2024-09-01  2024-09-23 2024-09-23 18:15:31.823963+00:00  segunda-feira                         lazer             variado      lazer
961                      gasolina       ELECTRONPOSTO SERVC        91.84  2024-09-01  2024-09-23 2024-09-23 18:15:31.823963+00:00  segunda-feira                      gasolina             variado      carro
963                        igreja  PIX QRS IMW 3 R VIL22/09        50.00  2024-09-01  2024-09-23 2024-09-23 18:15:31.823963+00:00  segunda-feira                        igreja                fixo     igreja
964                        igreja  PIX TRANSF  IMW 3 R22/09        50.00  2024-09-01  2024-09-23 2024-09-23 18:15:31.823963+00:00  segunda-feira                        igreja                fixo     igreja
965                        igreja  PIX TRANSF  IMW 3 R22/09        24.00  2024-09-01  2024-09-23 2024-09-23 18:15:31.823963+00:00  segunda-feira                        igreja                fixo     igreja
966                 financiamento  FINANC IMOBILIARIO   030      2777.21  2024-09-01  2024-09-23 2024-09-23 18:15:31.823963+00:00  segunda-feira                 financiamento                fixo       alto
967                transporte_pub  PIX TRANSF  EMBRYO 23/09        20.00  2024-09-01  2024-09-23 2024-09-23 18:15:31.823963+00:00  segunda-feira                transporte_pub                fixo   medio_n1
968                           gas       DA  COMGAS 51448254       410.26  2024-09-01  2024-09-23 2024-09-23 18:15:31.823963+00:00  segunda-feira                           gas                fixo      medio

In [168]:
df[["dt_mes_base","dt_custo","valor_custo"]][ (pd.to_datetime(df['dt_mes_base'])=='2024-08-01') & (df['tipo_custo_alt'].isin(['mercado'])) ]\
    .groupby(['dt_mes_base','dt_custo']).agg({"valor_custo":sum}).sort_values("dt_custo", ascending=True)

                        valor_custo
dt_mes_base dt_custo
2024-08-01  2024-08-05       486.91
            2024-08-06        18.10
            2024-08-08        29.79
            2024-08-09        38.80
            2024-08-12       266.45
            2024-08-14       126.94
            2024-08-15        26.80
            2024-08-19        57.32
            2024-08-21        36.24
            2024-08-22        21.69
            2024-08-23        47.34
            2024-08-28        14.89
            2024-08-29        93.35
            2024-08-30        28.08