In [85]:
import pandas as pd   
import pandas_gbq as pgbq 
import datetime as dt
from datetime import timedelta, date
import os
import re
import sys
path_note = os.getcwd()
path_src = re.sub(r'(.)notebooks','',path_note)
path_src_resource = re.sub(r'(.)notebooks','\/v0',path_note)

In [86]:
print(path_src)
print(path_src_resource.replace('/',''))

c:\Users\andre\Documents\github\my-money-family\admin\src
c:\Users\andre\Documents\github\my-money-family\admin\src\v0

In [87]:
import sys
sys.path.append(os.path.abspath(f'{path_src}/'))
sys.path.append(os.path.abspath(f'{path_src_resource}/'))

In [88]:
# from fin_api import consulta_excel
# df = consulta_excel(path_src, 'custo_2024_01')
# df

In [89]:
from v0.resource.fin_api import consulta_gcp


periodo="2025-01-01"
strsql = f"SELECT * FROM dev_domestico.credito_2025_excel "

df = consulta_gcp(strsql)

In [90]:
import datetime as dt
df['week_br'] = pd.to_datetime(df["dt_credito"]).dt.day_name()
df['week_br'] = df.apply(lambda x: "segunda-feira" if x["week_br"]=="Monday" else 
                             ("ter√ßa-feira" if x["week_br"]=="Tuesday" else 
                             ("quarta-feira" if x["week_br"]=="Wednesday" else 
                             ("quinta-feira" if x["week_br"]=="Thursday" else 
                             ("sexta-feira" if x["week_br"]=="Friday" else 
                             ("sabado" if x["week_br"]=="Saturday" else "domingo"))))), axis=1)

In [91]:
df[['tipo_custo_credito','custo_credito','dt_mes_base']][(df["tipo_custo_credito"].isnull())]#.to_csv('credito_nulo1.csv')

Empty DataFrame
Columns: [tipo_custo_credito, custo_credito, dt_mes_base]
Index: []

In [92]:
df['tipo_custo_credito']=df.apply(lambda x: "plataforma-gcp" if x["tipo_custo_credito"]=='plataforma-google' 
                                else ( "plataforma-aws" if x["tipo_custo_credito"]=='plataforma-amazon' else x['tipo_custo_credito']), axis=1) #"escola_futebol" if  x["descricao"].find('Chute Inicial')>=0

In [93]:
#df[df['tipo_custo_credito'].str.contains(r'plataforma-+\w')==True] #Dl*google Cloud	
#df[df['tipo_custo_credito']=='locadora-unidas'] #Dl*google Cloud

In [94]:
df[["dt_mes_base","valor_credito"]][(pd.to_datetime(df['dt_mes_base'])=='2024-05-01') & (~df['tipo_custo_credito'].isin(['credito']))].groupby(['dt_mes_base']).agg({"valor_credito":sum}).sort_values("valor_credito", ascending=False)

Empty DataFrame
Columns: [valor_credito]
Index: []

In [95]:
df[["dt_mes_base","valor_credito"]].groupby(['dt_mes_base']).agg({"valor_credito":sum}).sort_values("valor_credito", ascending=False)

             valor_credito
dt_mes_base
2025-03-01         1217.23
2025-02-01         1107.34
2025-01-01          664.41

In [96]:
df[["tipo_custo_credito","valor_credito"]].groupby(['tipo_custo_credito']).agg({"valor_credito":sum}).sort_values("valor_credito", ascending=False)

                         valor_credito
tipo_custo_credito
emprestimo-celularmae           900.00
locadora-localiza               654.45
alimentacao-aniversario         255.00
app-google                      193.98
mercado                         166.68
igreja                          161.36
locadora-unidas                 160.16
plataforma-gcp                  102.24
app-disney                       87.80
plataforma-aws                   81.55
gasolina                         64.10
app-spotify                      43.80
app-netflix                      41.80
banco                            31.16
app-youtube                      24.90
comercio                         20.00

In [97]:
df[df['tipo_custo_credito']=='comercio']

,tipo_custo_credito,custo_credito,valor_credito,valor_credito_parc,dt_mes_base,dt_credito,process_time,week_br
28,comercio,Franciscojosede,20.0,20.0,2025-02-01,2025-01-31,2025-02-12 12:45:28.838133+00:00,sexta-feira

In [98]:
df[["dt_mes_base","tipo_custo_credito","valor_credito"]][(pd.to_datetime(df['dt_mes_base'])=='2024-07-01')].groupby(['dt_mes_base','tipo_custo_credito']).agg({"valor_credito":sum}).sort_values("valor_credito", ascending=False)

Empty DataFrame
Columns: [valor_credito]
Index: []