In [2]:
import pandas as pd   
import pandas_gbq as pgbq 
import os
import re
import sys
path_note = os.getcwd()
path_src = re.sub(r'(.)notebooks','',path_note)
path_src_resource = re.sub(r'(.)notebooks','\/v0',path_note)
#path_src_resource = re.sub(r'(.)notebooks','\/v0\/resource',path_note)

In [3]:
print(path_src_resource.replace('/',''))

c:\Users\andre\Documents\github\my-money-family\admin\src\v0

In [4]:
import sys
sys.path.append(os.path.abspath(f'{path_src}/'))
sys.path.append(os.path.abspath(f'{path_src_resource}/'))

In [5]:
from v0.resource.myprocessanalytics_v0 import process, analytics_percent_geral
strsql = f"SELECT * FROM dev_domestico.custo_2024_excel "

df = process(strsql, flag_fake=False)

df = df[['tipo_custo','custo','valor_custo','dt_mes_base','dt_custo','tipo_custo_alt','classificacao_custo','area_custo']].drop_duplicates()

In [5]:
# import pandas as pd

# pd.set_option('display.max_columns', 100)
# pd.set_option('display.max_rows', None)

# pd.set_option('display.width', 1000)

In [8]:
dfx = analytics_percent_geral(df)
dfcx = dfx[dfx['tipo']=='Total'].copy()
dfcx = dfcx.rename(columns={'tipo':'base'})
dfcx['base']='custo_2024'

In [9]:
from v0.resource.fin_api import consulta_gcp

strsql = f"SELECT * FROM dev_domestico.recebido_2024_excel  "

dfr = consulta_gcp(strsql)

In [9]:
# def func_recebido(dfr, mes):
#     if mes<=9:
#         value = dfr['valor_recebido'].loc[(pd.to_datetime(dfr['dt_mes_base'])==f'2024-0{mes}-01')].sum()
#     else:
#         value = dfr['valor_recebido'].loc[(pd.to_datetime(dfr['dt_mes_base'])==f'2024-{mes}-01')].sum()
#     return value

In [ ]:
# df_ = pd.DataFrame()
# df_ = pd.DataFrame({
# 'valor_recebido':[ func_recebido(dfr, s) for s in range(1,13) ],
# 'dt_mes_base':[pd.Timestamp(f"2024-0{s}-01") if s<=9 else pd.Timestamp(f"2024-{s}-01")  for s in range(1,13) ]
# })

In [10]:
from v0.resource.myprocessanalytics_v0 import analytics_receb_percent

dfrx = analytics_receb_percent(dfr, '2024')

In [11]:
dfrx = dfrx.rename(columns={'ano_base':'base'})
# dfx_21 = dfx_21.rename(columns={'tipo':'2021'})
dfrx['base']='rec_2024'

In [12]:
pd.concat([dfrx, dfcx])

,base,vlr_sum,vlr_med,vlr_jan,vlr_fev,vlr_mar,vlr_abr,vlr_mai,vlr_jun,vlr_jul,vlr_ago,vlr_set,vlr_out,vlr_nov,vlr_dez
0,rec_2024,146243.48,12186.956667,6891.38,8034.93,10687.92,30976.38,14939.64,12810.00,10662.49,7296.08,10697.53,10314.81,8765.27,14167.05
82,custo_2024,160531.40,13377.616667,13876.84,9558.33,14279.14,31509.21,11601.21,11474.39,10309.67,11641.52,10979.62,11434.69,10137.11,13729.67