In [1]:
import pandas as pd    
import os
import re
path_note = os.getcwd()
path_src = re.sub(r'(.)notebooks','',path_note)
path_src_resource = re.sub(r'(.)notebooks','\/v0',path_note)

In [2]:
import sys
sys.path.append(os.path.abspath(f'{path_src}/'))
sys.path.append(os.path.abspath(f'{path_src_resource}/'))

# REMOVER DADOS ANTIGOS

In [3]:
mes_ano="2025_03"
print(mes_ano)
tab_ano = '2025'

2025_03

In [4]:
from v0.resource.mygcpjobfinfam import my_execute_job
my_job = my_execute_job

In [5]:
base = 'custo'

In [6]:
query = f"DELETE FROM dev_domestico.{base}_{tab_ano}_excel where dt_mes_base='%(mes_ano)s'" #where dt_mes_base = {periodo}
# from mygcpjobfinfam import my_execute_job
# my_job = my_execute_job
# print(query%{"mes_ano": mes_ano.replace("_","-")+"-01"})
my_job(query%{"mes_ano": mes_ano.replace("_","-")+"-01"})

QueryJob<project=devsamelo2, location=US, id=custo_domestico_697b8675-1267-43c0-9505-41861a51d4a9>

# INCIAR PROCESSO DE MANUNTENAÇÃO NO PERIDOODO SOLICITADO

In [7]:
from v0.datamyfin.myextract_2024 import my_extract_excel_deb, my_type_modal_finance

my_fin = my_extract_excel_deb
my_type_modal_fin = my_type_modal_finance 

path = 'C:\\Users\\andre\\Documents\\github\\my-money-family\\admin\\src\\v0'

In [8]:
from v0.datamyfin.myextract_2024 import my_extract_excel_deb, my_type_modal_finance #my_extract_excel_cred
my_fin = my_extract_excel_deb

df = my_fin(path_src, f'custo_{mes_ano}.xls')

my_type_modal_fin = my_type_modal_finance

my_type_modal_fin(df, path_src, f'custo_{mes_ano}.xls', 'pushout', tab_ano)
print('\n')

Etapa de conversão do type das colunas do dataframe gerada do excel:custo_2025_03.xls

SAIDA / CUSTO / PUSHOUT:custo_2025_03.xls

TOTAL DE LINHAS PUSHOUT: 14

Inicio da etapa destino do dinheiro: empurra pra fora

Etapa INTERMEDIARIA DO PUSHOUT para classificação do tipo de custo

Total tipos_encontrados:14 / tipos_nao_encontrados:0

Table devsamelo2.dev_domestico.custo_2025_excel already exists.
Loaded 145 rows and 6 columns to devsamelo2.dev_domestico.custo_2025_excel

In [53]:
mes_ano="2025_03"
print(mes_ano)
tab_ano = '2025'

2025_03

In [54]:
query = f"DELETE FROM dev_domestico.credito_{tab_ano}_excel where dt_mes_base = '%(mes_ano)s'"
# from mygcpjobfinfam import my_execute_job
# my_job = my_execute_job
# print(query%{"mes_ano": mes_ano.replace("_","-")+"-01"})
my_job(query%{"mes_ano": mes_ano.replace("_","-")+"-01"})

QueryJob<project=devsamelo2, location=US, id=custo_domestico_e333dd02-d4ea-42d1-ae73-ef57208b71a1>

In [55]:
from v0.datamyfin.myextractcred_2024 import my_extract_excel_cred, my_credits

my_fin = my_extract_excel_cred
my_cred = my_credits


print('\n')
df = my_fin(path_src, mes_ano, f'credito_{mes_ano}.xls')

print(f"TAMANHO TOTAL DF: {len(df)}")

print('\n')
my_cred(df, path_src, f'credito_{mes_ano}.xls', tab_ano)

Etapa de conversão do type das colunas do dataframe gerada do excel:credito_2025_03.xls

TAMANHO TOTAL DF: 8


['2025_03']
CREDITS:credito_2025_03.xls

TOTAL DE LINHAS CREDITS: 8

Etapa INTERMEDIARIA DO PUSHOUT para classificação do tipo de custo

Total tipos_encontrados:8 / tipos_nao_encontrados:0

Table devsamelo2.dev_domestico.credito_2025_excel already exists.
Loaded 36 rows and 7 columns to devsamelo2.dev_domestico.credito_2025_excel

In [40]:
# if mes_ano:

# #['recebido_2024_excel','custo_2024_excel','saldo_2024_excel']
#     if os.path.exists(f'{path}/excel/custo_{mes_ano}.xls'):
#         print('\n')
#         df = my_fin(path, f'custo_{mes_ano}.xls')
        
#         print(f"TAMANHO TOTAL DF: {len(df)}")

#         #query = "DROP TABLE IF EXISTS dev_domestico.custo_2023_excel"
#         query = "DELETE FROM dev_domestico.recebido_2024_excel where dt_mes_base='%(mes_ano)s'" #where dt_mes_base = {periodo}
#         # from mygcpjobfinfam import my_execute_job
#         # my_job = my_execute_job
#         my_job(query%{"mes_ano": mes_ano.replace("_","-")+"-01"})        

#         print('\n')
#         my_type_modal_fin(df, path, f'custo_{mes_ano}.xls', 'pulling', tab_ano = '2024')

#         #query = "DROP TABLE IF EXISTS dev_domestico.custo_2023_excel"
#         query = "DELETE FROM dev_domestico.custo_2024_excel where dt_mes_base='%(mes_ano)s'" #where dt_mes_base = {periodo}
#         # from mygcpjobfinfam import my_execute_job
#         # my_job = my_execute_job
#         my_job(query%{"mes_ano": mes_ano.replace("_","-")+"-01"})   

#         print('\n')
#         my_type_modal_fin(df, path, f'custo_{mes_ano}.xls', 'pushout', tab_ano = '2024')

#         #query = "DROP TABLE IF EXISTS dev_domestico.custo_2023_excel"
#         query = "DELETE FROM dev_domestico.saldo_2024_excel where dt_mes_base='%(mes_ano)s'" #where dt_mes_base = {periodo}
#         # from mygcpjobfinfam import my_execute_job
#         # my_job = my_execute_job
#         my_job(query%{"mes_ano": mes_ano.replace("_","-")+"-01"})   

#         print('\n')
#         my_type_modal_fin(df, path, f'custo_{mes_ano}.xls', 'stop', tab_ano = '2024')
#     else:
#         print('\n')
#         print(f'arquivo {path}/excel/custo_{mes_ano}.xls não existe')

In [41]:
# import pandas as pd
# import datetime as dt
# from datetime import timedelta

# data_bq='2024-02-29'
# data_base='2024-02-01'

# df_ext = pd.DataFrame()
# df_ext = pd.DataFrame({'dt_extrato_bq':[pd.Timestamp(data_bq)],	
#                     'descricao':['recebido_terceiro'],
#                     'valor_ext':[550],
#                     'valor_saldo':[None],
#                     'ano':['2023'],
#                     'mes':['08'],	
#                     'dt_base':[pd.Timestamp(data_base)],
#                     'valor_alt':[550],
#                     }
   
# )

In [42]:
# df_x = pd.concat([df, df_ext])

In [43]:
# df_x.reset_index(drop=True)