In [45]:
import pandas as pd    
import os
import re
path_note = os.getcwd()
path_src = re.sub(r'(.)notebooks','',path_note)

In [2]:
import sys
sys.path.append(os.path.abspath(f'{path_src}/'))

In [46]:
from myextract import my_extract_excel_deb, my_pushout_money #my_extract_excel_cred
my_fin = my_extract_excel_deb
my_pushout = my_pushout_money

df = my_fin(path_src, f'custo_2023_07.xls')
#my_pushout(df, path_src)

Etapa de convers√£o do type das colunas do dataframe gerada do excel:custo_2023_07.xls

In [4]:
df

,dt_extrato_bq,descricao,valor_ext,valor_saldo,ano,mes,dt_base,valor_alt
0,2023-06-30,SALDO ANTERIOR,NaN,-7980.83,2023,07,2023-07-01,NaN
1,2023-07-03,ELECTRONBOX CAR,60.00,NaN,2023,07,2023-07-01,-60.00
2,2023-07-03,ELECTRONGABRIELA PO,130.00,NaN,2023,07,2023-07-01,-130.00
3,2023-07-03,ELECTRONMATRIZ,250.00,NaN,2023,07,2023-07-01,-250.00
4,2023-07-03,PIX TRANSF IMW 3 R01/07,3762.80,NaN,2023,07,2023-07-01,-3762.80
5,2023-07-03,PIX TRANSF Matheus01/07,45.00,NaN,2023,07,2023-07-01,-45.00
6,2023-07-03,PIX TRANSF NIRLEY 02/07,25.00,NaN,2023,07,2023-07-01,-25.00
7,2023-07-03,PIX TRANSF ANDRE N01/07,32602.34,NaN,2023,07,2023-07-01,32602.34
8,2023-07-03,SABESP 3082129325,351.81,NaN,2023,07,2023-07-01,-351.81
9,2023-07-03,SDO CTA/APL AUTOMATICAS,NaN,19996.90,2023,07,2023-07-01,NaN
10,2023-07-04,IOF,53.58,NaN,2023,07,2023-07-01,-53.58
11,2023-07-04,INT IPVA-SP HOH-6396,1790.00,NaN,2023,07,2023-07-01,-1790.00
12,2023-07-04,TAR PACOTE ITAU JUN/23,86.20,NaN,2023,07,2023-07-01,-86.20
13,2023-07-04,SDO CTA/APL AUTOMATICAS,NaN,18067.12,2023,07,2023-07-01,NaN
14,2023-07-05,PIX TRANSF ELIZABE05/07,1000.00,NaN,2023,07,2023-07-01,1000.00
15,2023-07-05,JUROS LIMITE DA CONTA,690.10,NaN,2023,07,2023-07-01,-690.10
16,2023-07-05,DA CLARO MOVEL 46827963,85.42,NaN,2023,07,2023-07-01,-85.42
17,2023-07-05,DA CLARO MOVEL 46827990,51.27,NaN,2023,07,2023-07-01,-51.27
18,2023-07-05,SDO CTA/APL AUTOMATICAS,NaN,18240.33,2023,07,2023-07-01,NaN
19,2023-07-06,PIX QRS Drogaria Sa06/07,89.00,NaN,2023,07,2023-07-01,-89.00
20,2023-07-06,PIX TRANSF Crisval06/07,980.00,NaN,2023,07,2023-07-01,-980.00
21,2023-07-06,PIX TRANSF ELIZABE06/07,350.00,NaN,2023,07,2023-07-01,350.00
22,2023-07-06,SDO CTA/APL AUTOMATICAS,NaN,17521.33,2023,07,2023-07-01,NaN
23,2023-07-07,ELECTRONJULIO BUONO,60.30,NaN,2023,07,2023-07-01,-60.30
24,2023-07-07,ELECTRONLUIZ ANTONI,28.00,NaN,2023,07,2023-07-01,-28.00
25,2023-07-07,ELECTRON001,12.09,NaN,2023,07,2023-07-01,-12.09
26,2023-07-07,PIX TRANSF IMW 3 R07/07,24.00,NaN,2023,07,2023-07-01,-24.00
27,2023-07-07,PIX TRANSF LUCIANO07/07,50.00,NaN,2023,07,2023-07-01,-50.00
28,2023-07-07,PIX TRANSF REAL BR07/07,130.00,NaN,2023,07,2023-07-01,-130.00
29,2023-07-07,SDO CTA/APL AUTOMATICAS,NaN,17216.94,2023,07,2023-07-01,NaN
30,2023-07-10,PIX TRANSF HERCULA08/07,57.00,NaN,2023,07,2023-07-01,57.00
31,2023-07-10,ELECTRONORIEL PEREI,22.00,NaN,2023,07,2023-07-01,-22.00
32,2023-07-10,ELECTRONBABANAS VIT,10.00,NaN,2023,07,2023-07-01,-10.00
33,2023-07-10,ELECTRONPAG*Rodrigo,12.50,NaN,2023,07,2023-07-01,-12.50
34,2023-07-10,ELECTRONPG *TON FEI,13.00,NaN,2023,07,2023-07-01,-13.00
35,2023-07-10,ELECTRONPAG*CassioA,13.00,NaN,2023,07,2023-07-01,-13.00
36,2023-07-10,ELECTRONMISSLEINE M,2.30,NaN,2023,07,2023-07-01,-2.30
37,2023-07-10,ELECTRONPAG*Robinso,43.00,NaN,2023,07,2023-07-01,-43.00
38,2023-07-10,ELECTRONPAG*SANDROC,8.00,NaN,2023,07,2023-07-01,-8.00
39,2023-07-10,ELECTRONPAG*Claudio,4.00,NaN,2023,07,2023-07-01,-4.00
40,2023-07-10,ELECTRONOGGI SORVET,39.24,NaN,2023,07,2023-07-01,-39.24
41,2023-07-10,PIX TRANSF CLAUDIO08/07,350.00,NaN,2023,07,2023-07-01,-350.00
42,2023-07-10,PIX TRANSF Matheus08/07,60.00,NaN,2023,07,2023-07-01,-60.00
43,2023-07-10,MOBILEPAG TIT BANCO 237,588.60,NaN,2023,07,2023-07-01,-588.60
44,2023-07-10,ELECTRONLANCHONETE,5.00,NaN,2023,07,2023-07-01,-5.00
45,2023-07-10,ELECTRONLANCHONETE,7.50,NaN,2023,07,2023-07-01,-7.50
46,2023-07-10,ELECTRONOXXO NOVO M,15.88,NaN,2023,07,2023-07-01,-15.88
47,2023-07-10,ELECTRONPANETTERIA,104.49,NaN,2023,07,2023-07-01,-104.49
48,2023-07-10,ELECTRONPADARIA DEL,39.99,NaN,2023,07,2023-07-01,-39.99
49,2023-07-10,ELECTRONROTISSERIE,15.00,NaN,2023,07,2023-07-01,-15.00
50,2023-07-10,ELECTRONOXXO NOVO M,14.68,NaN,2023,07,2023-07-01,-14.68
51,2023-07-10,SALDO DO DIA,NaN,-1301.18,2023,07,2023-07-01,NaN

In [47]:
df_raw = df.loc[df['descricao'].str.contains(r'.IMW[^\\b]+\w')==True].copy()#.str.contains(r'SALDO[^\\b]+\w')==False].copy()

In [6]:
df_raw

,dt_extrato_bq,descricao,valor_ext,valor_saldo,ano,mes,dt_base,valor_alt
4,2023-07-03,PIX TRANSF IMW 3 R01/07,3762.8,NaN,2023,07,2023-07-01,-3762.8
26,2023-07-07,PIX TRANSF IMW 3 R07/07,24.0,NaN,2023,07,2023-07-01,-24.0

In [7]:
# from mytypedestinmoney import my_destin_pushout_csv
# df = my_destin_pushout_csv(df, f'{path_src}/csv/type.csv')

In [48]:
df_type = pd.read_csv(f'{path_src}/csv/type.csv', sep=';', usecols=['de_para','valor'])
df_type = df_type[(df_type["valor"].notnull())].drop_duplicates()#.unique() | .notnull() | .isnull()
df_type_raw = df_type.loc[df_type['de_para'].str.contains(r'^PIX TRANSF[^\\b]+.+[\\/]07')==True].copy()#.str.contains(r'SALDO[^\\b]+\w')==False].copy()
df_type_raw

                       de_para         valor
1771   PIX TRANSF LEANDRO04/07           pix
1779   PIX TRANSF erlonds08/07   cabelereiro
1790   PIX TRANSF erlonds25/07   cabelereiro
3515  PIX TRANSF  erlonds08/07  cabeleireiro
3531  PIX TRANSF  IMW R 306/07     seminario
3700  PIX TRANSF  PAES E 13/07       padaria
3701  PIX TRANSF  DJM BAZ14/07    utensilios
3704  PIX TRANSF  BAKARA 16/07     psicologa
3705  PIX TRANSF  Pedro H16/07       ceforte
3706  PIX TRANSF  Sara Cr16/07       ceforte
3714  PIX TRANSF  erlonds25/07  cabeleireiro
3715  PIX TRANSF  IMW 3 R24/07        oferta
3717  PIX TRANSF  aquecen27/07       servico
3719  PIX TRANSF  IMW 3 R29/07        oferta
3721  PIX TRANSF  IMW 3 R30/07        oferta
3722  PIX TRANSF  IMW 3 R31/07        oferta
3780  PIX TRANSF  ESPACO 14/07        escola
3938  PIX TRANSF  LEANDRO04/07           pix
4079  PIX TRANSF  DJM BAZ14/07           pix
4218   PIX TRANSF NIRLEY 02/07       futebol
4219   PIX TRANSF Matheus01/07   alimentacao
4220  PIX TRANSF  IMW 3 R01/07        igreja
4221  PIX TRANSF  IMW 3 R07/07        igreja
4227  PIX TRANSF  NIRLEY 02/07       futebol
4230  PIX TRANSF  Matheus01/07   alimentacao
4231  PIX TRANSF  LUCIANO07/07       futebol
4232  PIX TRANSF  Matheus08/07   alimentacao
4237  PIX TRANSF  REAL BR07/07       futebol
4239  PIX TRANSF  CLAUDIO08/07        viagem
4241  PIX TRANSF  Crisval06/07        viagem

In [61]:
df_type_raw[df_type_raw['valor']=="igreja"].groupby(['valor']).agg(['count'])
df_analytics = df_type_raw['valor'].loc[df_type_raw['valor']=="igreja"]
tottal=df_analytics.count()

tottal

2

In [43]:
for index_cc, row_cc in df_raw.iterrows():
    for index_dp, row_dp in df_type_raw.iterrows():
        print(row_cc["descricao"])
        print(row_dp["de_para"])
        if row_cc["descricao"] == row_dp["de_para"]:
            print ("primeira verifica√ß√£o de de-para custo:"," / posicao:",index_dp, row_dp['de_para'], '=', row_cc["descricao"]," / posicao:",index_cc)

PIX TRANSF  IMW 3 R01/07
PIX TRANSF LEANDRO04/07
PIX TRANSF  IMW 3 R01/07
PIX TRANSF erlonds08/07
PIX TRANSF  IMW 3 R01/07
PIX TRANSF erlonds25/07
PIX TRANSF  IMW 3 R01/07
PIX TRANSF  erlonds08/07
PIX TRANSF  IMW 3 R01/07
PIX TRANSF  IMW R 306/07
PIX TRANSF  IMW 3 R01/07
PIX TRANSF  PAES E 13/07
PIX TRANSF  IMW 3 R01/07
PIX TRANSF  DJM BAZ14/07
PIX TRANSF  IMW 3 R01/07
PIX TRANSF  BAKARA 16/07
PIX TRANSF  IMW 3 R01/07
PIX TRANSF  Pedro H16/07
PIX TRANSF  IMW 3 R01/07
PIX TRANSF  Sara Cr16/07
PIX TRANSF  IMW 3 R01/07
PIX TRANSF  erlonds25/07
PIX TRANSF  IMW 3 R01/07
PIX TRANSF  IMW 3 R24/07
PIX TRANSF  IMW 3 R01/07
PIX TRANSF  aquecen27/07
PIX TRANSF  IMW 3 R01/07
PIX TRANSF  IMW 3 R29/07
PIX TRANSF  IMW 3 R01/07
PIX TRANSF  IMW 3 R30/07
PIX TRANSF  IMW 3 R01/07
PIX TRANSF  IMW 3 R31/07
PIX TRANSF  IMW 3 R01/07
PIX TRANSF  ESPACO 14/07
PIX TRANSF  IMW 3 R01/07
PIX TRANSF  LEANDRO04/07
PIX TRANSF  IMW 3 R01/07
PIX TRANSF  DJM BAZ14/07
PIX TRANSF  IMW 3 R01/07
PIX TRANSF NIRLEY 02/07
PIX TRANSF  IMW 3 R01/07
PIX TRANSF Matheus01/07
PIX TRANSF  IMW 3 R01/07
PIX TRANSF  IMW 3 R01/07
primeira verifica√ß√£o de de-para custo:  / posicao: 4220 PIX TRANSF  IMW 3 R01/07 = PIX TRANSF  IMW 3 R01/07  / posicao: 4
PIX TRANSF  IMW 3 R01/07
PIX TRANSF  IMW 3 R07/07
PIX TRANSF  IMW 3 R07/07
PIX TRANSF LEANDRO04/07
PIX TRANSF  IMW 3 R07/07
PIX TRANSF erlonds08/07
PIX TRANSF  IMW 3 R07/07
PIX TRANSF erlonds25/07
PIX TRANSF  IMW 3 R07/07
PIX TRANSF  erlonds08/07
PIX TRANSF  IMW 3 R07/07
PIX TRANSF  IMW R 306/07
PIX TRANSF  IMW 3 R07/07
PIX TRANSF  PAES E 13/07
PIX TRANSF  IMW 3 R07/07
PIX TRANSF  DJM BAZ14/07
PIX TRANSF  IMW 3 R07/07
PIX TRANSF  BAKARA 16/07
PIX TRANSF  IMW 3 R07/07
PIX TRANSF  Pedro H16/07
PIX TRANSF  IMW 3 R07/07
PIX TRANSF  Sara Cr16/07
PIX TRANSF  IMW 3 R07/07
PIX TRANSF  erlonds25/07
PIX TRANSF  IMW 3 R07/07
PIX TRANSF  IMW 3 R24/07
PIX TRANSF  IMW 3 R07/07
PIX TRANSF  aquecen27/07
PIX TRANSF  IMW 3 R07/07
PIX TRANSF  IMW 3 R29/07
PIX TRANSF  IMW 3 R07/07
PIX TRANSF  IMW 3 R30/07
PIX TRANSF  IMW 3 R07/07
PIX TRANSF  IMW 3 R31/07
PIX TRANSF  IMW 3 R07/07
PIX TRANSF  ESPACO 14/07
PIX TRANSF  IMW 3 R07/07
PIX TRANSF  LEANDRO04/07
PIX TRANSF  IMW 3 R07/07
PIX TRANSF  DJM BAZ14/07
PIX TRANSF  IMW 3 R07/07
PIX TRANSF NIRLEY 02/07
PIX TRANSF  IMW 3 R07/07
PIX TRANSF Matheus01/07
PIX TRANSF  IMW 3 R07/07
PIX TRANSF  IMW 3 R01/07
PIX TRANSF  IMW 3 R07/07
PIX TRANSF  IMW 3 R07/07
primeira verifica√ß√£o de de-para custo:  / posicao: 4221 PIX TRANSF  IMW 3 R07/07 = PIX TRANSF  IMW 3 R07/07  / posicao: 26

In [10]:
# #dfpus['tipo_custo'] = dfpus.apply(lambda x: x['tipo_custo']="compras" if x['tipo_custo']==None else x['tipo_custo']=x['tipo_custo'],  axis=1)
# for x in range(len(dfpus)):
#     if dfpus["tipo_custo"].iloc[x]=="pessoa":
#         dfpus["tipo_custo"].iloc[x]="compras"

In [11]:

# list_tab = [str(l) for l in dfpus['tipo_custo'].tolist()]
# list_tab